<div class="pageWrap" data-ng-init="classrooms_init()" ui-view>
    <div class="pageContent extended">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/classrooms/">Classrooms</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/schooladmin/main/">Dashboard</a></li>
                    <li class="active">Classrooms</li>
                </ol>
            </div>
            
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/create-classroom/">
                        <button class="btn btn-default bg-red">
                            Create New Classroom
                        </button>
                    </a>
                </h1>
            </div>
        </div>






        <div class="box" style="overflow: scroll;">
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <h2 class="boxHeadline">All Classrooms</h2>
                <h3 class="boxHeadlineSub">{{total_classes_count}} Total</h3>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <div class="input-group custom-search-form" ng-controller="SchoolAdminClassrooms">
                    <input type="text" class="simple-input" placeholder="Search..." ng-model="search" ng-keyup="$event.keyCode == 13 && search_function()">
                    <span class="input-group-btn" ng-click="search_function()">
                        <button class="btn btn-default btn-addon" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <th>S.N.</th>
                                <th>Class Name</th>
                                <th>Students</th>
                                <th>Teachers</th>
                                <th>Activities</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr ng-repeat = "classroom in array_of_classrooms"  ng-mouseenter="view=true" ng-mouseleave="view=false">
                                <td>{{(page_count-1)*10 +($index + 1)}}</td>
                                <td  ng-click="edit_classroom_page(classroom.id)" style="cursor: pointer;" class="onhover">{{classroom.name}}</td>
                                <td>{{classroom.n_students}}</td>
                                <td>{{classroom.n_teachers}}</td>
                                <td>{{classroom.n_activities}}</td>
                                <td>
                                    <div class="row">
                           <!--              <div class="col-md-6">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="edit_classroom_page(classroom.id)">
                                               <div class="view-detail" ng-if="view==true" style="cursor: pointer;">View</div>
                                            </button>
                                        </div> -->
                                        <div class="col-md-12">
                                             <button type="button" data-toggle="modal" data-target="#deleteClassroom" class="btn btn-danger btn-xs" ng-click="set_to_delete(classroom.id)" >
                                                <i class="fa fa-trash" aria-hidden="true" style="margin: 0px; color: #f34235;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="text-left col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div class="" style="line-height: 40px;">
                        Showing {{((page_count-1)*10)+1}} to 
                        <span ng-if="total_classes_count<10">{{total_classes_count}}</span>
                        <span ng-if="!(total_classes_count<10)">{{((page_count)*10)}}</span>
                         of {{total_classes_count}} classrooms.
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'students_list')" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, 'classrooms_list')" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
                                <a href>
                                    <span>{{$index+1}}</span>
                                </a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(1, 'classrooms_list')" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>




















<div id="deleteClassroom" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting the Classroom?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ><a>No, do not delete</a></button>
                <button class="btn " data-dismiss="modal" ng-click="delete_classroom_page()" style="color: red;">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>