
<div class="pageContent extended" data-ng-init="create_classroom_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/classrooms/create-classroom/">Create Classroom</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/classrooms/">Classrooms</a></li>
                <li class="active">Create Classroom</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="newClassroom" ng-submit="create_classroom(newClassroom)" class="form-group" autocomplete="off" novalidate>
    		<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="info-type">Classroom Name</div>
					<div>		
						<input type="text" name="name" class="simple-input" placeholder="Classroom Name" ng-model="new_classroom.name">
                    	<p ng-show="newClassroom.submitted && newClassroom.name.$invalid" class="help-block error_show">
                    		Classroom name is required.
                        </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="info-type">Default Activities</div>
					<div>
						<br>
						<input type="text" name="activities" class="simple-input" placeholder="Assign Activities" ng-model="new_classroom.default_activities"  id="defaultActivities" >
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="info-type">Learning Activities </div>
					<div style="font-size: 14px;color: #363f45;font-style: italic; ">For adding new learning activity please use the <strong>Create Learning Activity</strong> button.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<input type="text" name="activities" class="simple-input" placeholder="Learning Activities" id="learningActivities" ng-model="new_classroom.learning_activities">
				</div>
				<div class="col-sm-4">
					<a class="btn bg-red text-right" data-toggle="modal" data-target="#createActivity">Create Learning Activity</a>
				</div>
			</div>
            <div class="row">
			    <div class="col-lg-12 text-right ">
			    	<button type="submit"  class="btn">
			    		<a href="/schooladmin/main/classrooms/" ng-click="cancel_funtion()">Cancel</a>
			        </button>
			        <button type="submit" class="btn" value="Create" style="color: red;">
			        	Create
			        </button>
			    </div>
			</div>
		</form>
    </div>
</div>

<div id="createActivity" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
			<div class="modal-header text-center" >
				<h4 class="modal-title">Create new learning activity</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-lg-12">   
				        <div class="row">
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 simple-input-label">
				                <b>Activity Name </b>
				            </div>
				            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				                <input type="text" name="activity_name" class="simple-input" ng-model="new_learning_activity.name">
				                <p></p>
				            </div>

				            <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Is diary Entry </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="checkbox" name="activity_default" ng-model="new_learning_activity.is_diary">
				            </div> -->
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
                <button class="btn" data-dismiss="modal" ng-click="cancel_function()"><a>Cancel</a></button>
                <button type="button" class="btn" data-dismiss="modal" ng-click="create_learning_activity()" style="color: red;">Create</button>
            </div>
        </div>
    </div>
</div>