<div class="pageContent extended" data-ng-init="edit_classroom_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/edit-classroom/{{particular_classroom.id}}/">{{particular_classroom.name}}</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/classrooms/">Classrooms</a></li>
                <li class="active">{{particular_classroom.name}}</li>
            </ol>
        </div>
    </div>
    <div class="">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">Basic Info</a>
			</li>
			<li role="presentation">
				<a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">Students</a>
			</li>

			<li role="presentation" ng-click="daily_activity_call('class', particular_classroom.id)">
				<a href="#tab-item-3" aria-controls="tab-item-3" role="tab" data-toggle="tab">Daily Activity</a>
			</li>
			<li role="presentation" ng-click="upcoming_events_call('class', particular_classroom.id)">
				<a href="#tab-item-4" aria-controls="tab-item-4" role="tab" data-toggle="tab">Events</a>
			</li>
			<li role="presentation" ng-click="messages_call('class', particular_classroom.id)">
				<a href="#tab-item-5" aria-controls="tab-item-5" role="tab" data-toggle="tab">Messages</a>
			</li>
			<li role="presentation" ng-click="gallery_call('class', particular_classroom.id)">
				<a href="#tab-item-6" aria-controls="tab-item-6" role="tab" data-toggle="tab">Gallery</a>
			</li>
		</ul>

		<div class="tab-content  fix-padding-1">
			<div role="tabpanel" class="tab-pane fade in active" id="tab-item-1"> 
				<form role="updateClassroom" autocomplete="off" novalidate>
					<div class="row">
						<div class="col-md-8 form-group no-margin">
							<div class="info-type">Name</div>
							<div ng-if="edit_state">
								<input type="text" name="name" class="simple-input" placeholder="Classroom Name" ng-model="particular_classroom.name" required>
	                            <p ng-show="updateClassroom.submitted && updateClassroom.name.$invalid" class="help-block error_show">Classroom name is required.
	                            </p>
							</div>
							<div class="info-fill" ng-if="!edit_state">{{particular_classroom.name}}</div>
						</div>
						<div class="col-md-4 form-group">
							<div ng-if="!edit_state">
								<button class="btn btn-primary bg-red" style="float: right;position: relative;top: -5px;" ng-click="trigger_edit()">Edit Classroom Info</button>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-xs-12 form-group">
							<div class="info-type">Default Activities</div>
							<div ng-if="edit_state">
								<br>
								<input type="text" name="activities" class="simple-input" placeholder="Assign Activities" id="defaultActivities" ng-model="particular_classroom.default_activities_form" >
							</div>
							<div class="info-fill" ng-if="!edit_state">
								<ul class=tags_list>
									<div ng-repeat = "activity in particular_classroom_default_activities" class="col-xs-6 col-sm-6 col-md-4 col-lg-2 activity-container">{{activity.name}}</div>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-xs-12 form-group">
							<div class="info-type">Learning Activities</div>
							<div style="font-size: 14px;color: #363f45;font-style: italic; " ng-if="edit_state">		Click to select an activity from the list to add to this class
							</div>
							<div ng-if="edit_state">
								<input type="text" name="activities" class="form-control" placeholder="Assign Activities" ng-model="particular_classroom.learning_activities_form" id="learningActivities" readonly="readonly" required disabled="true">
							</div>
							<div class="info-fill" ng-if="!edit_state">
								<ul class=tags_list>
									<div ng-repeat = "activity in particular_classroom_learning_activities" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 activity-container">{{activity.name}}</div>
								</ul>
							</div>
						</div>
						<div ng-if="edit_state" class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  style="position: relative;top: 53px;">
							<button class="btn bg-red" data-toggle="modal" data-target="#createActivity">Create Learning Activity</button>
						</div>
					</div>
					<div class="row" ng-if="edit_state">
						<div style="text-align: right;">
							<button class="btn" ng-click="cancel_edit()"><a href="/schooladmin/main/classrooms/">Cancel</a></button>
							<button class="btn" type="submit" style="color: red;" ng-click="update_classroom('null', 'activites')" style="color: red;">Save</button>
						</div>
					</div>
				</form>
			</div>














			<div role="tabpanel" class="tab-pane fade" id="tab-item-2"> <!-- second panel -->
				<div class="row">
	                <div class="col-sm-6 col-sm-6 col-md-6 col-lg-6">
	                    <div class="input-group custom-search-form">
	                        <input type="text" class="simple-input" placeholder="Search..." ng-model="students_data">
	                        <span class="input-group-btn">
	                            <button class="btn btn-default btn-addon" type="button">
	                                <i class="fa fa-search"></i>
	                            </button>
	                        </span>
	                    </div>
	                </div>
	                <div class="col-sm-6 col-sm-6 col-md-6 col-lg-6 text-right" style="top: 10px;">
                        <a href data-toggle="modal" data-target="#addStudent" style="">
                            <button class="btn btn-primary" style="width:150px;">
                            	Add Student
                            </button>
                        </a>
                        <a href data-toggle="modal" data-target="#removeStudent" style="">
                            <button class="btn bg-red" style="width:150px;">
                            	Remove Student
                            </button>
                        </a>
	                </div>
	            </div>
	            <div ng-if="particular_classroom.students.length==0">
					<div class="row" style="padding:20px 20px 20px 12px;">
						No Students Data Available
					</div>
				</div>
	            <div class="table-responsive" ng-if="particular_classroom.students.length > 0">
	                <table class="table">
	                    <thead class="table-head">
	                        <tr>
	                            <th>S.N.</th>
	                            <th>PHOTO</th>
	                            <th>STUDENT'S NAME</th>
	                            <th>CLASSES</th>
	                        </tr>
	                    </thead>
	                    <tbody class="table-body">
	                        <tr ng-repeat = "student in particular_classroom.students | filter:students_data">
	                        	<td>{{$index+1}}</td>
	                        	<td>
	                        		<div class="profile_image_container">
	                        			<img style="height: 100px;" src="{{student.profile_image}}" alt="">
	                        		</div>
	                        	</td>
	                            <td>{{student.name}}</td>
	                            <td>
		                            <div ng-repeat="class in student.classes">
		                            	{{class.name}}
		                            </div>
	                           	</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
			</div>










			<div role="tabpanel" class="tab-pane fade" id="tab-item-3">
				<div ng-repeat="x in daily_activity_feed.data">
					<div class="activity_date_heading"><span>{{x.date}}</span></div>
					<div class="activities_for_date">
						<div ng-repeat="feed in x.feeds">
							<div class="row" style="padding: 10px;margin-bottom: 15px;">
								<div class="col-md-2 vertical" style="color: #363f45;font-size: 14px;text-transform: uppercase;position: relative;top: 8px;">
									{{feed.activity_header}}
								</div>
								<div class="col-md-2">
									<img src="{{feed.activity_image}} " style="height: 48px;border-radius: 50%;position: relative;top: -3px;">
								</div>
								<div class="col-md-7">
									<div style="stroke-linecap: font-size: 14px;color: #363f45;">{{feed.item_content}}</div>
									<div style="font-size: 12px;font-weight: bold;color: #363f45;">{{feed.teacher_name}}</div>
								</div>
								<div class="col-md-1" style="font-size: 12px; color: #363f45;">
									<div class="col-md-4">
										<a href data-toggle="modal" data-target="#editFeed" ng-click="set_feed(feed, 'class', particular_classroom.id)" title="Edit">
											<img src="../../images/group-23.svg" alt="">
										</a>
									</div>

                                    <div class="col-md-4">
                                    	<a href data-toggle="modal" data-target="#deleteFeed" ng-click="set_to_delete(feed.id, 'class', particular_classroom.id)" title="Delete">
                                    		<img src="../../images/group-23-copy.svg" alt="">
                                		</a>
                            		</div>
									<div class="col-md-12" style="text-align:right;top: 10px;padding: 0;">{{feed.time}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="daily_activity_feed.data.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="" style="line-height: 40px;">
                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                        </div>
                    </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'class', particular_classroom.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'class', particular_classroom.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
                            		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'class', particular_classroom.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
                </div>
                <div ng-if="daily_activity_feed.data.length == 0">No activity available for this classroom</div>
			</div>










			<div role="tabpanel" class="tab-pane fade" id="tab-item-4" style="overflow: scroll;">
				<div class="col-xs-12 col-lg-12">
					<div class="filter clearfix js-grid-filter">
						<a href data-group="all" class="i" ng-class="{active_tab: (segment_function_to_call == 'upcoming')}" ng-click="upcoming_events_call('class', particular_classroom.id)">Upcoming Events</a>
						<a href data-group="nature" ng-class="{active_tab: (segment_function_to_call == 'past')}" class="i" ng-click="past_events_call('class', particular_classroom.id)">Past Events</a>
					</div>

					<div class="tab-content" ng-if="event_state">
						<div role="tabpanel" class="tab-pane fade in active">
							<div ng-if="corresponding_events.length==0">
								<div class="row" style="padding:20px 20px 20px 12px;">
									No Upcoming Events Data Available
								</div>
							</div>
							<div class="box" ng-repeat="event in corresponding_events" style="box-shadow: 0 0 4px 1px rgba(145, 149, 153, 0.15);margin-top: 10px;">
								<div class="row">
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<div class="event-name">{{event.name}}</div>
										<div class="event-desciption">{{event.description}}</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 event-detail" style="text-align: right;">
										<b>Date: </b>{{event.date_string}}<br>
										<b>Time: </b>{{event.start_time}}<br>
										<!-- <b>Created By: </b>Some One<br> -->
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade in active" ng-if="!event_state">
							<div ng-if="corresponding_events.length==0">
								<div class="row" style="padding:20px 20px 20px 12px;">
									No Past Events Data Available
								</div>
							</div>
							<div class="box" ng-repeat="event in corresponding_events" style="box-shadow: 0 0 4px 1px rgba(145, 149, 153, 0.15);margin-top: 10px;">
								<div class="row">
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<div class="event-name">{{event.name}}</div>
										<div class="event-desciption">{{event.description}}</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: right;">
										<b>Date: </b><span class="event-detail">{{event.date_string}}</span><br>
										<b>Time: </b><span class="event-detail">{{event.start_time}}</span><br>
										<!-- <b>Created By: </b>Some One<br> -->
									</div>
								</div>
							</div>
						</div>



						<div class="row"  ng-if="corresponding_events.length!=0">
							<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
		                        <div class="" style="line-height: 40px;">
		                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
		                        </div>
		                    </div>
							<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
			                    <nav class="paginationNav">
			                        <ul class="pagination" style="margin: 0;">
			                            <li>
			                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'class', particular_classroom.id)" ng-disabled="disable_prev">
			                                    <i class="fa fa-angle-left"></i>
			                                </a>
			                            </li>
			                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'class', particular_classroom.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
			                                <a href>
			                                	<span>
			                                		{{$index+1}}
			                                	</span>
	                                		</a>
			                            </li>
			                            <li>
			                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'class', particular_classroom.id)" ng-disabled="disable_next">
			                                    <i class="fa fa-angle-right"></i>
			                                </a>
			                            </li>
			                        </ul>
			                    </nav>
			                </div> 
	                	</div>
					</div>
				</div>
			</div>











			<div role="tabpanel" class="tab-pane fade" id="tab-item-5"> <!-- messages -->
				<div ng-repeat="message in corresponding_messages" style="margin-bottom: 30px;">
					<div style="background-color:rgba(216, 216, 216,0.3);padding:  15px 31px 15px 31px;border: solid 1px rgba(54, 63, 69, 0.15);border-bottom: 0;">
						<div class="message-date" >
							{{message.date}}
						</div>
					</div>
					<div class="panel-body" >
						<div class="row message-body" ng-repeat="x in message.messages">
							<div class="col-md-1 no-padding" style="height: 50px;width: 50px;border-radius: 50%;overflow: hidden;text-align: center;"><img src="{{x.student.profile_image}}" style="height: 50px;"></div>
							<div class="col-md-9">
								<div style="font-size: 14px;font-weight: bold;color: #363f45;">{{x.student.name}}</div>
								<div style="font-size: 14px;color: #363f45;margin-bottom:20px; ">
									{{x.message_type}} 
								</div>
								<div ng-if="x.message_type == 'New Person Pickup'"><img src="{{x.else_pickup_image}}" style="height: 250px;"></div>
								<div style="font-size: 14px;color: #363f45;">{{x.message_content}} </div>
							</div>
							<div class="col-md-2" style="font-size: 12px;text-align: right;color: #363f45;opacity: 0.9;font-weight: 100;">{{x.message_time}}</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="corresponding_messages.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="" style="line-height: 40px;">
                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                        </div>
                    </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'class', particular_classroom.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'class', particular_classroom.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
                            		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'class', particular_classroom.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
                </div>
                <div ng-if="corresponding_messages.length == 0">No messages for this classroom</div>
			</div>













			<div role="tabpanel" class="tab-pane fade" id="tab-item-6"> <!-- gallery -->
				<div ng-if="corresponding_gallery.length == 0">No photos available for this classroom</div>
				<div class="row galleryListing clearfix js-gallery-grid" id="grid" style="margin-bottom: 30px;">
					<a href class="i col-md-4 col-23" ng-repeat="photo in corresponding_gallery">
						<div class="c">
							<img src="{{photo.media}}" alt="#">
						</div>
					</a>
				</div>
				<div class="row" ng-if="corresponding_gallery.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="" style="line-height: 40px;">
                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                        </div>
                    </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'class', particular_classroom.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'class', particular_classroom.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
                            		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'class', particular_classroom.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
                </div>
			</div>
		</div>
    </div>
</div>




























<div id="addStudent" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header rte">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Add Students</h2>
				Select students to add to this classroom
			</div>
			<div class="modal-body">
				<div class="row">
		  			<div ng-repeat="student in list_to_show">
				  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click="add_student(student.id)">
				  			<div class="row text-center" >
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  					<i class="fa fa-check" id="{{student.id}}_select_check" aria-hidden="true" style="position: absolute;z-index: -1;color:#fe5621;top:67px;opacity: 1 !important;top: 50%;left: 50%;margin-left: -30px;margin-top: -30px;font-size: 60px; "></i>
				  					<div class="profile_image_container"  id="{{student.id}}" style="margin-left: auto;margin-right: auto;">
				  						<img style="height:100px;position: relative;z-index: 0"  src="{{student.profile_image}}">
				  					</div>
				  				</div>
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="font-size: 12px;overflow: hidden;white-space: nowrap;">
				  					{{student.name}}
				  				</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal"><a>Cancel</a></button>
				<button type="button" class="btn" data-dismiss="modal" ng-click="update_classroom('add', 'students')" style="color: red;">Update</button>
			</div>
		</div>
	</div>
</div>

<div id="removeStudent" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header rte">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Remove Students</h4>
				Select students to remove from this classroom
			</div>
		  	<div class="modal-body">
			  	<div class="row">
			  		<div ng-repeat="student in particular_classroom.students">
				  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click="remove_student(student.id)">
				  			<div class="row text-center">
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
				  				<i class="fa fa-check" id="{{student.id}}_select_check_r" aria-hidden="true" style="position: absolute;z-index: -1;color:red;top:67px;opacity: 1 !important;top: 50%;left: 50%;margin-left: -30px;margin-top: -30px;font-size: 60px; "></i>
				  					<div class="profile_image_container"  id="{{student.id}}_r" style="margin-left: auto;margin-right: auto;">
				  						<img style="height:100px;position: relative;z-index: 0;" src="{{student.profile_image}}">
				  					</div>
				  				</div>
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="font-size: 12px;overflow: hidden;white-space: nowrap;">
				  					{{student.name}}
				  				</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-deafult" data-dismiss="modal"><a>Cancel</a></button>
				<button type="button" class="btn" data-dismiss="modal" ng-click="update_classroom('remove', 'students')" style="color: red;">Update</button>
			</div>
		</div>
	</div>
</div>

<div id="createActivity" class="modal fade" role="dialog">
	<div class="modal-dialog">
        <div class="modal-box" style="height: 350px;">
            <div class="modal-heading">
                Confirm Approval
            </div>
            <div class="modal-subheading">
                Activity Name
                <input type="text" name="activity_name" class="simple-input" ng-model="new_learning_activity.name">
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal"><a>Cancel</a></button>
                <button class="btn" data-dismiss="modal" ng-click="create_learning_activity()" style="color: red;">Create</button>
            </div>
        </div>
    </div>
</div>