<div class="pageContent extended" data-ng-init="create_students_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/Students/create-Student/">Create Student</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/students/">Students</a></li>
                <li class="active">Create Student</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="myForm" ng-submit="create_student(myForm)" autocomplete="off" novalidate>
			<div class="row">
				<div class="col-md-4">
					<div style="height: 220px;width: 220px;overflow: hidden;border: solid 1px rgba(54, 63, 69, 0.15);">
						<img ngf-thumbnail="particular_image" style="height:220px;position: relative;right: 25%">
						<img src="../../../img/images.jpg" ng-if="!particular_image" alt="">
					</div>
					<div style="padding:15px 42px 15px 42px;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
						<button button class="btn btn-default bg-red" ngf-select ng-model="particular_image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" >UPLOAD PICTURE</button>

					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<div class="info-type">Name</div>
							<input type="text" name="name" class="simple-input no-margin" placeholder="Student Name" ng-model="new_student.name" required>
                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">Student name is required
                            </p>
						</div>
						<div class="col-md-6">
							<div class="info-type">Gender</div>
                            <div class="radiobuttons">
								<label>
									<input type="radio" ng-model="new_student.gender" name="gender" value="male">
									<span>Male</span>
								</label>
								<label>
									<input type="radio" ng-model="new_student.gender" name="gender" value="female">
										<span>Female</span>
								</label>
							</div>
						</div>
					</div>
						<br>
					<div class="row">
						<div class="col-md-6">
							<div class="info-type">DOB</div>
							<div>
		                		<p class="input-group">
									<input id="datepicker-2-input" type="text" class="form-control simple-input" 
										uib-datepicker-popup="{{format}}" 
										ng-model="dob_date" 
										is-open="popup1.opened" 
										datepicker-options="dateOptions"
										name="date" 
										ng-required="true" 
										close-text="Close" 
										alt-input-formats="altInputFormats" 
										ng-change="dob_change()"
										required>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default btn-addon" ng-click="open1()" style="top: 5px;"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
									<p ng-show="myForm.submitted && myForm.date.$invalid" class="help-block error_show">Please choose a date</p>
                                </p>
		                	</div>
						</div>
						<div class="col-md-6">
							<div class="info-type">Roll Number</div>
							<div>
								<p class="input-group">
									<input type="text" name="roll_number" class="form-control simple-input" placeholder="Student's Roll Number" ng-model="new_student.roll_number">
								</p>
							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="info-type"></div>
							<div>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Classroom</div>
							<div>
								<input type="text" name="classrooms" class="select2 js-select2 simple-input" placeholder="Assign Classrooms" ng-model="classes_selected" id="myClasses">
							</div>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Adress</div>
							<div>
								<input type="text" name="address" class="form-control simple-input" placeholder="address" ng-model="new_student.address" required>
		                		<p ng-show="myForm.submitted && myForm.address.$invalid" class="help-block error_show">Please fill in the address
	                            </p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="info-header">parents details</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="parent-card">
						<div class="row">
							<div class="col-md-3"><img src="../../../images/group-23_2.png" alt=""></div>
							<div class="col-md-9">
								<div class="parent-detail-relation">
									Mother
								</div>
								<div>
									<input type="text" name="mom_name" class="form-control simple-input" placeholder="Mother's Name" ng-model="new_student.parent_name_2" required>
		                            <p ng-show="myForm.submitted && myForm.mom_name.$invalid" class="help-block error_show">Mother name is required
		                            </p>
		                            <input type="text" name="mom_mobile" class="form-control simple-input" placeholder="Mother's Mobile" ng-minlength="10" ng-maxlength="10" ng-model="new_student.parent_mobile_2" required>

		                            <p ng-show="myForm.submitted && myForm.mom_mobile.$invalid" class="help-block error_show">Parent Mobile is required</p>
		                            <p ng-show="myForm.mom_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
		                            <p ng-show="myForm.mom_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
		                            <p ng-show="myForm.mom_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
		                            <p ng-show="myForm.submitted && myForm.mom_mobile.$error.required" ng-if="!myForm.mom_mobile.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="parent-card">
						<div class="row">
							<div class="col-md-3"><img src="../../../images/group-23.png" alt=""></div>
							<div class="col-md-9">
								<div class="parent-detail-relation">
									Father
								</div>
								<div>
									<input type="text" name="father_name" class="form-control simple-input" placeholder="Father's Name" ng-model="new_student.parent_name_1" required>
									<p ng-show="myForm.submitted && myForm.father_name.$invalid" class="help-block error_show">Father name is required</p>
									<input type="text" name="father_mobile" class="form-control simple-input" placeholder="Father's Mobile" ng-minlength="10" ng-maxlength="10" ng-model="new_student.parent_mobile_1" required>

									<p ng-show="myForm.submitted && myForm.father_mobile.$invalid" class="help-block error_show">Parent Mobile is required</p>
									<p ng-show="myForm.father_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
									<p ng-show="myForm.father_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
									<p ng-show="myForm.father_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
									<p ng-show="myForm.submitted && myForm.father_mobile.$error.required" ng-if="!myForm.father_mobile.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="info-header">Emergency Contacts</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="parent-card">
						<div class="row">
							<div class="col-md-3"><img src="../../../images/group-23_3.png" alt=""></div>
							<div class="col-md-9">
								<div class="parent-detail-relation">
									<input type="text" name="contact_label_1" class="form-control simple-input" placeholder="Sister, brother, other" ng-model="new_student.contact_label_1">
								</div>
								<div class="parent-detail">
									<div>
										<input type="text" name="contact_name_1" class="form-control simple-input" placeholder="Contact Name" ng-model="new_student.contact_name_1">
										<input type="text" name="contact_mobile_1" class="form-control simple-input" placeholder="Contact mobile" ng-model="new_student.contact_mobile_1">
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6"">
					<div class="parent-card">
						<div class="row">
							<div class="col-md-3"><img src="../../../images/group-22.png" alt=""></div>
							<div class="col-md-9">
								<div class="parent-detail-relation">
									<input type="text" name="contact_label_2" class="form-control simple-input" placeholder="Sister, brother, other" ng-model="new_student.contact_label_2">
								</div>
								<div class="parent-detail">
									<div>
										<input type="text" name="contact_name_2" class="form-control simple-input" placeholder="Contact Name" ng-model="new_student.contact_name_2">
										<input type="text" name="contact_mobile_2" class="form-control simple-input" placeholder="Contact mobile" ng-model="new_student.contact_mobile_2">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="info-header">Medical Details</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="parent-card">
						<div class="row">
							<div class="col-md-3"><img src="../../../images/group-32.png" alt=""></div>
							<div class="col-md-9">
								<div class="parent-detail-relation">
									Doctor
								</div>
								<div >
									<input type="text" name="doctor_name" class="form-control simple-input" placeholder="Doctor Name" ng-model="new_student.doctor_name">
									<input type="text" name="doctor_number" class="form-control simple-input" placeholder="Doctor Number" ng-model="new_student.doctor_number">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="parent-card">
						<div class="info-type">Allergies</div>
						<textarea style="height: 100px;" type="text" name="allergies" class="form-control simple-input" placeholder="Allergies" ng-model="new_student.allergies"></textarea>
						<div class="info-fill" ng-if="!edit_state">{{particular_student.allergies}}</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="parent-card">
						<div class="info-type">Medication</div>
						<textarea style="height: 100px;" type="text" name="medication" class="form-control simple-input" placeholder="Medication" ng-model="new_student.medication"></textarea>
						<div class="info-fill">{{particular_student.medication}}</div>
					</div>
				</div>
			</div>
			<div class="row">
			    <div class="col-lg-12 text-right ">
			    	<button type="submit"  class="btn">
			    		<a href="/schooladmin/main/students/">Cancel</a>
			        </button>
			        <button type="submit" class="btn" value="Create" style="color: red;">
			        	Create
			        </button>
			    </div>
			</div>
		</form>
    </div>
</div>

<div id="createActivity" class="modal fade" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new learning activity</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-lg-12">   
				        <div class="row">
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Activity Name </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="text" name="activity_name" class="form-control" ng-model="new_learning_activity.name">
				                <p></p>
				            </div>

				            <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Is diary Entry </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="checkbox" name="activity_default" ng-model="new_learning_activity.is_diary">
				            </div> -->
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
	            <br/>
	            <button type="button" class="btn" data-dismiss="modal" ng-click="create_learning_activity()" style="color:red;">Create</button>
	        </div>
	    </div>
	</div>
</div>