

<div class="pageContent extended" data-ng-init="edit_student_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/edit-student/{{particular_student.id}}/">{{particular_student.name}}</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/students/">Students</a></li>
                <li class="active">{{particular_student.name}}</li>
            </ol>
        </div>
    </div>
    <div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">Basic Info</a>
			</li>
			<li role="presentation" ng-click="daily_activity_call('student', particular_student.id)">
				<a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">Daily Activity</a>
			</li>
			<li role="presentation" ng-click="messages_call('student', particular_student.id)">
				<a href="#tab-item-3" aria-controls="tab-item-3" role="tab" data-toggle="tab">Messages</a>
			</li>
			<li role="presentation" ng-click="diary_call('student', particular_student.id)">
				<a href="#tab-item-4" aria-controls="tab-item-4" role="tab" data-toggle="tab">Diary</a>
			</li>
			<li role="presentation"  ng-click="gallery_call('student', particular_student.id)">
				<a href="#tab-item-5" aria-controls="tab-item-5" role="tab" data-toggle="tab">Gallery</a>
			</li>
		</ul>
		<div class="tab-content fix-padding-1">
			<div role="tabpanel" class="tab-pane fade in active" id="tab-item-1">
				<form role="form" name="myForm" autocomplete="off" novalidate>
					<div class="row">
						<div class="col-md-9">
							<div class="info-header">Personal Details</div>
						</div>
						<div class="col-md-3">
							<div ng-if="!edit_state">
								<button class="btn btn-primary bg-red" style="float: right;position: relative;top: -5px;" ng-click="trigger_edit()">Edit Student Info</button>
							</div>
						</div>
					</div>				
					<div class="row">
						<div class="col-md-4">
							<div style="width: 220px;">
								<img ngf-thumbnail="particular_image" style="width: 100%;">
							</div>
							<div style="padding:15px 42px 15px 42px;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
								<button class="btn bg-red" ngf-select ng-model="particular_image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" >UPDATE PICTURE</button>
							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-6">
									<div class="info-type">Name</div>
									<div ng-if="edit_state">
										<input type="text" name="name" class="simple-input no-margin" placeholder="Student Name" ng-model="particular_student.name" required style="margin-bottom: 10px;">
			                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">Student name is required
			                            </p>
									</div>
									<div class="info-fill" ng-if="!edit_state">{{particular_student.name}}</div>
								</div>
								<div class="col-md-6">
									<div class="info-type">Gender</div>
									<div ng-if="edit_state">
										<div class="radiobuttons">
											<label>
												<input type="radio" ng-model="particular_student.gender" value="male"  name="type">
												<span>Male </span>
											</label>
											<label>
												<input type="radio" ng-model="particular_student.gender" value="female"  name="type">
												<span>Female</span>
											</label>
										</div>
									</div>
									<div class="info-fill" ng-if="!edit_state">{{particular_student.gender}}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="info-type">DOB</div>
									<div ng-if="edit_state">
				                		<p class="input-group">
											<input id="datepicker-2-input" type="text" class="form-control simple-input" 
												uib-datepicker-popup="{{format}}" 
												ng-model="dob_date" 
												is-open="popup1.opened" 
												datepicker-options="dateOptions"
												name="date" 
												ng-required="true" 
												close-text="Close" 
												alt-input-formats="altInputFormats" 
												ng-change="dob_change()"
												required>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-addon" ng-click="open1()" style="top: 5px;"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
											<p ng-show="myForm.submitted && myForm.date.$invalid" class="help-block error_show">Please choose a date</p>
		                                </p>
				                	</div>
									<div class="info-fill" ng-if="!edit_state">
										{{dob_date | date:'dd MMMM yyyy'}}
									</div>
								</div>
								<div class="col-md-6">
									<div class="info-type">Roll Number</div>
									<div ng-if="edit_state">
										<input type="text" name="roll_number" class="simple-input" placeholder="Student's Roll Number" ng-model="particular_student.roll_number" style="margin-bottom: 10px;">
									</div>
									<div class="info-fill" ng-if="!edit_state">{{particular_student.roll_number}}</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="info-type">Classrooms</div>
									<div ng-if="edit_state">
										<input type="text" name="classrooms" class="select2 js-select2 form-control" placeholder="Assign Classrooms" ng-model="particular_student.classes_selected_form" id="myClasses">
									</div>
									<div class="info-fill" ng-if="!edit_state">
										<ul class=tags_list>
											<div ng-repeat = "class in classes_selected" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 activity-container">{{class.name}}</div>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="info-type">Address</div>
									<div ng-if="edit_state">
										<input type="text" name="address" class="form-control simple-input" placeholder="address" ng-model="particular_student.address" required>
				                		<p ng-show="myForm.submitted && myForm.address.$invalid" class="help-block error_show">Please fill in the address
			                            </p>
									</div>
									<div class="info-fill" ng-if="!edit_state">{{particular_student.address}}</div>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-header">parents details</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-3"><img src="../../../images/group-23_2.png" alt=""></div>
									<div class="col-md-9">
										<div class="parent-detail-relation">
											Mother
										</div>
										<div ng-if="edit_state">
											<input type="text" name="mom_name" class="form-control simple-input" placeholder="Mother's Name" ng-model="particular_student.parent_name_2" required>
				                            <p ng-show="myForm.submitted && myForm.mom_name.$invalid" class="help-block error_show">Mother name is required
				                            </p>
				                            <input type="text" name="mom_mobile" class="form-control simple-input" placeholder="Mother's Mobile" ng-minlength="10" ng-maxlength="10" ng-model="particular_student.parent_mobile_2" required>

				                            <p ng-show="myForm.submitted && myForm.mom_mobile.$invalid" class="help-block error_show">Parent Mobile is required</p>
				                            <p ng-show="myForm.mom_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
				                            <p ng-show="myForm.mom_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
				                            <p ng-show="myForm.mom_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
				                            <p ng-show="myForm.submitted && myForm.mom_mobile.$error.required" ng-if="!myForm.mom_mobile.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
										</div>
										<div class="parent-detail" ng-if="!edit_state">
											{{particular_student.parent_name_2}} <br>
											{{particular_student.parent_mobile_2}}

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-3"><img src="../../../images/group-23.png" alt=""></div>
									<div class="col-md-9">
										<div class="parent-detail-relation">
											Father
										</div>
										<div ng-if="edit_state">
											<input type="text" name="father_name" class="form-control simple-input" placeholder="Father's Name" ng-model="particular_student.parent_name_1" required>
											<p ng-show="myForm.submitted && myForm.father_name.$invalid" class="help-block error_show">Father name is required</p>
											<input type="text" name="father_mobile" class="form-control simple-input" placeholder="Father's Mobile" ng-minlength="10" ng-maxlength="10" ng-model="particular_student.parent_mobile_2" required>

											<p ng-show="myForm.submitted && myForm.father_mobile.$invalid" class="help-block error_show">Parent Mobile is required</p>
											<p ng-show="myForm.father_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
											<p ng-show="myForm.father_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
											<p ng-show="myForm.father_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
											<p ng-show="myForm.submitted && myForm.father_mobile.$error.required" ng-if="!myForm.father_mobile.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
										</div>
										<div class="parent-detail" ng-if="!edit_state">
											{{particular_student.parent_name_1}} <br>
											{{particular_student.parent_mobile_1}}

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-header">Emergency Contacts</div>
						</div>
					</div>
					<div class="row" ng-if="!(particular_student.contact_label_1 || edit_state)">
						<div class="col-md-6">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-2"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
									<div class="col-md-10" style="font-size: 30px;line-height: 65px;">
										NO EMERGENCY CONTACTS!
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6" ng-if="particular_student.contact_label_1 || edit_state">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-3"><img src="../../../images/group-23_3.png" alt=""></div>
									<div class="col-md-9">
										<div class="parent-detail-relation">
											<div ng-if="!edit_state">{{particular_student.contact_label_1}}</div>
											<input type="text" name="contact_label_1" class="form-control simple-input" placeholder="Sister, brother, other" ng-model="particular_student.contact_label_1" ng-if="edit_state">
										</div>
										<div class="parent-detail">
											<div ng-if="!edit_state">
												{{particular_student.contact_name_1}} <br>
												{{particular_student.contact_mobile_1}}
											</div>
											<div ng-if="edit_state">
												<input type="text" name="contact_name_1" class="form-control simple-input" placeholder="Contact Name" ng-model="particular_student.contact_name_1">
												<input type="text" name="contact_mobile_1" class="form-control simple-input" placeholder="Contact mobile" ng-model="particular_student.contact_mobile_1">

											

											<p ng-show="myForm.submitted && myForm.contact_mobile_1.$invalid" class="help-block error_show">Parent Mobile is required</p>
											<p ng-show="myForm.contact_mobile_1.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
											<p ng-show="myForm.contact_mobile_1.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
											<p ng-show="myForm.contact_mobile_1.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
											<p ng-show="myForm.submitted && myForm.contact_mobile_1.$error.required" ng-if="!myForm.contact_mobile_1.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" ng-if="particular_student.contact_label_2 || edit_state">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-3"><img src="../../../images/group-22.png" alt=""></div>
									<div class="col-md-9">
										<div class="parent-detail-relation">
											<div ng-if="!edit_state">{{particular_student.contact_label_2}}</div>
											<input type="text" name="contact_label_2" class="form-control simple-input" placeholder="Sister, brother, other" ng-model="particular_student.contact_label_2" ng-if="edit_state">
										</div>
										<div class="parent-detail">
											<div ng-if="!edit_state">
												{{particular_student.contact_name_2}} <br>
												{{particular_student.contact_mobile_2}}
											</div>
											<div ng-if="edit_state">
												<input type="text" name="contact_name_2" class="form-control simple-input" placeholder="Contact Name" ng-model="particular_student.contact_name_2">
												<input type="text" name="contact_mobile_2" class="form-control simple-input" placeholder="Contact mobile" ng-model="particular_student.contact_mobile_2">
												<p ng-show="myForm.submitted && myForm.contact_mobile_2.$invalid" class="help-block error_show">Parent Mobile is required</p>
												<p ng-show="myForm.contact_mobile_2.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
												<p ng-show="myForm.contact_mobile_2.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
												<p ng-show="myForm.contact_mobile_2.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
												<p ng-show="myForm.submitted && myForm.contact_mobile_2.$error.required" ng-if="!myForm.contact_mobile_2.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-header">Medical Details</div>
						</div>
					</div>
					<div class="row" ng-if="!(particular_student.doctor_name || edit_state)">
						<div class="col-md-6">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-3"><img src="../../../images/group-32.png" alt=""></div>
									<div class="col-md-9" style="font-size: 30px;line-height: 65px;">
										NO DOCTOR DETAILS!
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-if="particular_student.doctor_name || edit_state">
						<div class="col-md-6">
							<div class="parent-card">
								<div class="row">
									<div class="col-md-3"><img src="../../../images/group-32.png" alt=""></div>
									<div class="col-md-9">
										<div class="parent-detail-relation">
											Doctor
										</div>
										<div ng-if="edit_state">
											<input type="text" name="doctor_name" class="form-control simple-input" placeholder="Doctor Name" ng-model="particular_student.doctor_name">
											<input type="text" name="doctor_number" class="form-control simple-input" placeholder="Doctor Number" ng-model="particular_student.doctor_number">
											
										</div>
										<div class="parent-detail" ng-if="!edit_state">
											{{particular_student.doctor_name_1}} <br>
											{{particular_student.doctor_number_1}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3" ng-if="particular_student.allergies || edit_state">
							<div class="parent-card">
								<div class="info-type">Allergies</div>
								<textarea style="height: 100px;" type="text" name="allergies" class="form-control simple-input" placeholder="Allergies" ng-model="particular_student.allergies" ng-if="edit_state"></textarea>
								<div class="info-fill" ng-if="!edit_state">{{particular_student.allergies}}</div>
							</div>
						</div>
						<div class="col-md-3" ng-if="particular_student.medication || edit_state">
							<div class="parent-card">
								<div class="info-type">Medication</div>
								<textarea style="height: 100px;" type="text" name="medication" class="form-control simple-input" placeholder="Medication" ng-model="particular_student.medication" ng-if="edit_state"></textarea>
								<div class="info-fill" ng-if="!edit_state">{{particular_student.medication}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-if="edit_state" style="text-align: right;">
							<button class="btn" style="float: right;position: relative;top: -5px; color:red;" type="submit" ng-click="update_student()">Save</button>
							<button class="btn" style="float: right;position: relative;top: -5px;" ng-click="cancel_edit()"><a href="">Cancel</a></button>
						</div>	
					</div>
				</form>
			</div>































				
			<div role="tabpanel" class="tab-pane fade" id="tab-item-2">
				<div ng-repeat="x in daily_activity_feed.data">
					<div class="activity_date_heading">{{x.date}}</div>
					<div class="activities_for_date">
						<div ng-repeat="feed in x.feeds">
							<div class="row">
								<div class="col-md-2 vertical" style="color: #363f45;font-size: 14px;text-transform: uppercase;position: relative;top: 11px;">
									{{feed.activity_header}}
								</div>
								<div class="col-md-2">
									<img src="{{feed.activity_image}} " style="height: 48px;border-radius: 50%;">
								</div>
								<div class="col-md-7">
									<div style="stroke-linecap: font-size: 14px;color: #363f45;">{{feed.item_content}}</div>
									<div style="font-size: 12px;font-weight: bold;color: #363f45;">{{feed.teacher_name}}</div>
								</div>
								<div class="col-md-1" style="font-size: 12px; color: #363f45;">
									<div class="col-md-4">
										<a href data-toggle="modal" data-target="#editFeed" ng-click="set_feed(feed, 'student', particular_student.id)" title="Edit">
											<img src="../../images/group-23.svg" alt="">
										</a>
									</div>

	                                <div class="col-md-4">
	                                	<a href data-toggle="modal" data-target="#deleteFeed" ng-click="set_to_delete(feed.id, 'student', particular_student.id)" title="Delete">
	                                		<img src="../../images/group-23-copy.svg" alt="">
	                            		</a>
	                        		</div>
									<div class="col-md-12" style="text-align:right;top: 10px;padding: 0;">{{feed.time}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="daily_activity_feed.data.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
	                    <div class="" style="line-height: 40px;">
	                        <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
	                    </div>
	                </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'student', particular_student.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'student', particular_student.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
	                        		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'student', particular_student.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
	            </div>
	            <div ng-if="daily_activity_feed.data.length == 0">No activity available for this student</div>
			</div>





















			<div role="tabpanel" class="tab-pane fade" id="tab-item-3">
				<div ng-repeat="message in corresponding_messages" style="margin-bottom: 30px;">
					<div style="background-color:rgba(216, 216, 216,0.3);padding:  15px 31px 15px 31px;border: solid 1px rgba(54, 63, 69, 0.15);border-bottom: 0;">
						<div class="message-date" >
							{{message.date}}
						</div>
					</div>
					<div class="panel-body " >
						<div class="row message-body" ng-repeat="x in message.messages">
							<div class="col-md-1"><img src="{{x.student.profile_image}}" style="height: 50px;"></div>
							<div class="col-md-11">
								<div style="font-size: 14px;font-weight: bold;color: #363f45;">{{x.student.name}}</div>
								<div style="font-size: 14px;color: #363f45;margin-bottom:20px; ">
									{{x.message_type}} 
								</div>
								<div ng-if="x.message_type == 'New Person Pickup'"><img src="{{x.else_pickup_image}}" style="height: 250px;"></div>
								<div style="font-size: 14px;color: #363f45;">{{x.message_content}} </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="corresponding_messages.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="" style="line-height: 40px;">
                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                        </div>
                    </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'student', particular_student.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'student', particular_student.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
                            		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'student', particular_student.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
                </div>
                <div ng-if="corresponding_messages.length == 0">No messages available for this student</div>
			</div>














			
			<div role="tabpanel" class="tab-pane fade" id="tab-item-4">
				<div ng-repeat="x in corresponding_diary">
					<div class="activity_date_heading"><span>{{x.date}}</span></div>
					<div class="activities_for_date">
						<div ng-repeat="feed in x.feeds">
							<div class="row">
								<div class="col-md-2 vertical" style="color: #363f45;font-size: 14px;text-transform: uppercase;">
									{{feed.activity_header}}
								</div>
								<div class="col-md-2">
									<img src="{{feed.activity_image}} " style="height: 48px;border-radius: 50%;">
								</div>
								<div class="col-md-7">
									<div style="stroke-linecap: font-size: 14px;color: #363f45;">{{feed.item_content}}</div>
									<div style="font-size: 12px;font-weight: bold;color: #363f45;">{{feed.teacher_name}}</div>
								</div>
								<div class="col-md-1" style="font-size: 12px; color: #363f45;">
									<div class="col-md-4">
										<a href data-toggle="modal" data-target="#editFeed" ng-click="set_feed(feed, 'student', particular_student.id)" title="Edit">
											<img src="../../images/group-23.svg" alt="">
										</a>
									</div>

                                    <div class="col-md-4">
                                    	<a href data-toggle="modal" data-target="#deleteFeed" ng-click="set_to_delete(feed.id, 'student', particular_student.id)" title="Delete">
                                    		<img src="../../images/group-23-copy.svg" alt="">
                                		</a>
                            		</div>

									<!-- <div class="col-md-6" style="text-align: right;"">
										<a href>
											<i class="fa vertical fa-pencil-square-o" aria-hidden="true" style="color: #106cb6;font-size: 20px;margin:2px"></i>
										</a>
									</div>
									<div class="col-md-6" style="text-align: left;"">
										<a href>
											<i class="fa vertical fa-times" aria-hidden="true" style="color: #ea2011;font-size: 20px;margin: 2px;"></i>
										</a>
									</div> -->
									<div class="col-md-12" style="text-align:right;top: 10px;padding: 0;">{{feed.time}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="corresponding_diary.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="" style="line-height: 40px;">
                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                        </div>
                    </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'student', particular_student.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'student', particular_student.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
                            		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'student', particular_student.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
                </div>
                <div ng-if="corresponding_diary.length == 0">No diary entry available for this student</div>
			</div>

			<div role="tabpanel" class="tab-pane fade" id="tab-item-5">
				<div ng-if="corresponding_gallery.length == 0">
					<div class="row" style="padding:20px 20px 20px 12px;">
						No Photos Available for this student
					</div>
				</div>
				<div class="row galleryListing clearfix js-gallery-grid" id="grid">
					<a href class="i col-md-4 col-23" ng-repeat="photo in corresponding_gallery">
						<div class="c">
							<img src="{{photo.media}}">
						</div>
					</a>
				</div>
				<div class="row" ng-if="corresponding_gallery.length != 0">
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <div class="" style="line-height: 40px;">
                            <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                        </div>
                    </div>
					<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                    <nav class="paginationNav">
	                        <ul class="pagination" style="margin: 0;">
	                            <li>
	                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'student', particular_student.id)" ng-disabled="disable_prev">
	                                    <i class="fa fa-angle-left"></i>
	                                </a>
	                            </li>
	                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'student', particular_student.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                                <a href>
	                                	<span>
	                                		{{$index+1}}
	                                	</span>
	                        		</a>
	                            </li>
	                            <li>
	                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'student', particular_student.id)" ng-disabled="disable_next">
	                                    <i class="fa fa-angle-right"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
	                </div>
	            </div>
			</div>
        </div>
    </div>
</div>














<div id="addStudent" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header rte">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Add Students</h2>
				Select students to add to this student
			</div>
			<div class="modal-body">
				<div class="row">
		  			<div ng-repeat="student in list_to_show">
				  		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-click="add_student(student.id)">
				  			<div class="row text-center">
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  					<img style="width:100px; height:100px;" src="{{student.profile_image}}">
				  				</div>
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="{{student.id}}">
				  					{{student.name}}
				  				</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="update_student()">Update</button>
			</div>
		</div>
	</div>
</div>

<div id="removeStudent" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header rte">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Remove Students</h4>
				Select students to remove from this student
			</div>
		  	<div class="modal-body">
			  	<div class="row">
			  		<div ng-repeat="student in corresponding_class_students">
				  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click="remove_student(student.id)">
				  			<div class="row text-center">
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  					<img style="width:100%; height:100px; " src="{{student.profile_image}}">
				  				</div>
				  				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="{{student.id}}">
				  					{{student.name}}
				  				</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="update_student()">
					Update
				</button>
			</div>
		</div>
	</div>
</div>

<div id="createActivity" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new learning activity</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-lg-12">   
				        <div class="row">
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Activity Name </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="text" name="activity_name" class="form-control" ng-model="new_learning_activity.name">
				                <p></p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
                <br/>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="create_learning_activity()">Create</button>
            </div>
        </div>
    </div>
</div>

