<div class="pageWrap" data-ng-init="students_init()" ui-view>
    <div class="pageContent extended">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/students/">Students</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/schooladmin/main/">Dashboard</a></li>
                    <li class="active">Students</li>
                </ol>
            </div>
            
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/create-student/">
                        <button class="btn btn-primary bg-red">
                            Create New Student
                        </button>
                    </a>
                </h1>
            </div>
        </div>
        <div class="box" style="overflow: scroll;">
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <h2 class="boxHeadline">All Students</h2>
                <h3 class="boxHeadlineSub">{{total_student_count}} Total</h3>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <div class="input-group custom-search-form" ng-controller="SchoolAdminStudents" >
                    <input type="text" class="simple-input" placeholder="Search..." ng-model="search"  ng-keyup="$event.keyCode == 13 && search_function()">
                    <span class="input-group-btn" ng-click="search_function()">
                        <button class="btn btn-default btn-addon" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <th>S.n.</th>
                                <th>Name</th>
                                <th>Classes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr ng-repeat = "student in array_of_students" ng-mouseenter="view=true" ng-mouseleave="view=false" >
                                <td>{{(page_count-1)*10 +($index + 1)}}</td>
                                <td ng-click="edit_students_page(student.id)" style="cursor: pointer;" class="onhover">{{student.name}}</td>
                                <td>
                                    <div ng-repeat = "class in student.classes">
                                        {{class.name}}
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <!-- <div class="col-md-6">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="edit_students_page(student.id)">
                                                <div class="view-detail" class="view-detail"  ng-if="view==true">View</div>
                                            </button>
                                        </div> -->
                                        <div class="col-md-6">
                                            <button type="button" data-toggle="modal" data-target="#deleteStudent" class="btn btn-danger btn-xs" ng-click="set_to_delete(student.id)">
                                                <i class="fa fa-trash" aria-hidden="true" style="margin: 0px;color: #f34235;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="">
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div style="line-height: 40px;">
                        Showing {{((page_count-1)*10)+1}} to 
                        <span ng-if="total_student_count<10">{{total_student_count}}</span>
                        <span ng-if="!(total_student_count<10)">{{page_count*10}}</span>
                         of {{total_student_count}} students.
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'call_students_list')" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, 'call_students_list')" ng-if="$index + 1 - page_count < 2 && page_count-$index-1<2">
                                <a href>
                                    <span>
                                        {{$index+1}}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(1, 'call_students_list')" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>







<div id="deleteStudent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting the Student?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ><a>No, do not delete</a></button>
                <button class="btn" data-dismiss="modal" ng-click="delete_student_page()" style="color: red;">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>