




					<div class="row">
						<form role="form" name="myForm" ng-submit="update_student(myForm)" autocomplete="off" novalidate>
				<div class="row">
				  	<div class="col-lg-6">
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                Student Details
				            </div>
				            <div class="panel-body">
				            	<div class="form-group col-lg-12"> 
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 simple-input-label">
					                		Name 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="name" class="simple-input" placeholder="Student Name" ng-model="particular_student.name" required>
				                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">Student name is required
				                            </p>
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">   
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		DOB 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<p class="input-group">
												<input id="datepicker-2-input" type="text" class="form-control simple-input" 
													uib-datepicker-popup="{{format}}" 
													ng-model="dob_date" 
													is-open="popup1.opened" 
													datepicker-options="dateOptions"
													name="date" 
													ng-required="true" 
													close-text="Close" 
													alt-input-formats="altInputFormats" 
													ng-change="dob_change()"
													required>
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open1()" style="top: 5px;"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
												<p ng-show="myForm.submitted && myForm.date.$invalid" class="help-block error_show">Please choose a date</p>
			                                </p>
					                	</div>
					                	<!-- <div class="col-lg-8">
					                		<input type="text" name="dob" class="form-control" placeholder="DOB" ng-model="particular_student.dob">
					                	</div> -->
					                </div>
					            </div>
					            <div class="form-group col-lg-12">   
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Roll Number 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="roll_number" class="form-control simple-input" placeholder="Student's Roll Number" ng-model="particular_student.roll_number">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">   
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Address 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="address" class="form-control simple-input" placeholder="address" ng-model="particular_student.address" required>
					                		<p ng-show="myForm.submitted && myForm.address.$invalid" class="help-block error_show">Please fill in the address
				                            </p>
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">   
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Gender
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
											<label>
											<input type="radio" ng-model="particular_student.gender" value="male">
												Male
											</label>
											<label>
											<input type="radio" ng-model="particular_student.gender" value="female">
												Female
											</label>
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">   
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Class List 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="classrooms" class="select2 js-select2 form-control" placeholder="Assign Classrooms" ng-model="particular_student.classrooms" id="myClasses">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">   
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Upload Pic 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<div class="fileupload fileupload-new">
					                			<button class="button btn btn-primary" ngf-select ng-model="particular_image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 100, height: 100}">Select</button>
					                			<p>{{particular_image.name}}</p>
					                			Old Image : <img src="{{particular_student.profile_image}}" style="width:100px;height:100px;">
					                			
					                			<!-- <button class="button" ngf-select ng-model="particular_student.profile_image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</button> -->
					                			
											</div>
					                	</div>
									</div>
								</div>
					        </div>
					    </div>
					</div>
					<div class="col-lg-6">
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                Parents Details
				            </div>
				            <div class="panel-body">
				            	<h4>1. Mother Details</h4>
				            	<div class="form-group col-lg-12"> 
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Name 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="mom_name" class="form-control simple-input" placeholder="Mother's Name" ng-model="particular_student.parent_name_1" required>
				                            <p ng-show="myForm.submitted && myForm.mom_name.$invalid" class="help-block error_show">Mother name is required
				                            </p>
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12"> 
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Mobile 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="mom_mobile" class="form-control simple-input" placeholder="Mother's Mobile" ng-minlength="10" ng-maxlength="10" ng-model="particular_student.parent_mobile_1" required>

				                            <p ng-show="myForm.submitted && myForm.mom_mobile.$invalid" class="help-block error_show">Parent Mobile is required</p>
				                            <p ng-show="myForm.mom_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
				                            <p ng-show="myForm.mom_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
				                            <p ng-show="myForm.mom_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
				                            <p ng-show="myForm.submitted && myForm.mom_mobile.$error.required" ng-if="!myForm.mom_mobile.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
					                	</div>
					                </div>
					            </div>
					            <h4>2. Father Details</h4>
					            <div class="form-group col-lg-12"> 
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Name 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="father_name" class="form-control simple-input" placeholder="Father's Name" ng-model="particular_student.parent_name_2" required>
					                		<p ng-show="myForm.submitted && myForm.father_name.$invalid" class="help-block error_show">Father name is required</p>
					                		
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12"> 
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Mobile 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="father_mobile" class="form-control simple-input" placeholder="Father's Mobile" ng-minlength="10" ng-maxlength="10" ng-model="particular_student.parent_mobile_2" required>

					                		<p ng-show="myForm.submitted && myForm.father_mobile.$invalid" class="help-block error_show">Parent Mobile is required</p>
					                		<p ng-show="myForm.father_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
				                            <p ng-show="myForm.father_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
				                            <p ng-show="myForm.father_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
				                            <p ng-show="myForm.submitted && myForm.father_mobile.$error.required" ng-if="!myForm.father_mobile.$error.minlength" class="help-block error_show">10 digit Mobile Number is Required.</p>
					                	</div>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
				        <div class="panel panel-default">
				            <div class="panel-heading">
				            	Emergency Contact Details 
				            </div>
				            <div class="panel-body">
				            	<h4>1. Contact</h4>
				            	<div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Label 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="contact_label_1" class="form-control simple-input" placeholder="Sister, brother, other" ng-model="particular_student.contact_label_1">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Name 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="contact_name_1" class="form-control simple-input" placeholder="Contact Name" ng-model="particular_student.contact_name_1">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Mobile 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="contact_mobile_1" class="form-control simple-input" placeholder="Contact mobile" ng-model="particular_student.contact_mobile_1">
					                	</div>
					                </div>
					            </div>
					            <br/>

					            <h4>2. Contact</h4>
				            	<div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Label 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="contact_label_2" class="form-control simple-input" placeholder="Sister, brother, other" ng-model="particular_student.contact_label_2">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Name 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="contact_name_2" class="form-control simple-input" placeholder="Contact Name" ng-model="particular_student.contact_name_2">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Mobile 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="contact_mobile_2" class="form-control simple-input" placeholder="Contact mobile" ng-model="particular_student.contact_mobile_2">
					                	</div>
					                </div>
					            </div>
				            </div>
				        </div>
				    </div>
				    <div class="col-lg-6">
				        <div class="panel panel-default">
				            <div class="panel-heading">
				            	Medical Details
				            </div>
				            <div class="panel-body">
				            	<div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Doctor Name 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="doctor_name" class="form-control simple-input" placeholder="Doctor Name" ng-model="particular_student.doctor_name">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Doctor Number 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<input type="text" name="doctor_number" class="form-control simple-input" placeholder="Doctor Number" ng-model="particular_student.doctor_number">
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Allergies 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<textarea style="height: 100px;" type="text" name="allergies" class="form-control simple-input" placeholder="Allergies" ng-model="particular_student.allergies"></textarea>
					                	</div>
					                </div>
					            </div>
					            <div class="form-group col-lg-12">
					                <div class="row">
					                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  simple-input-label">
					                		Medication 
					                	</div>
					                	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					                		<textarea style="height: 100px;" type="text" name="medication" class="form-control simple-input" placeholder="Medication" ng-model="particular_student.medication"></textarea>
					                	</div>
					                </div>
					            </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="panel-footer">
			       	<div class="row">
					    <div class="col-lg-2">
					        <input type="submit"  class="btn btn-primary" value="Save" />
					    </div>
					    <!-- /.col-lg-12 -->
					</div>
			    </div>	
			</form>
		</div>
	</div>