<div class="pageContent extended" data-ng-init="create_essential_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/essentials/create-essential/">Create Essential</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/essentials/">Essentials</a></li>
                <li class="active">Create Essential</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="createEssential" ng-submit="create_essential(createEssential)" autocomplete="off" novalidate>
    		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div style="height: 220px;width: 220px;overflow: hidden;border: solid 1px rgba(54, 63, 69, 0.15);">
						<img ngf-thumbnail="new_essential.image" style="height:220px;position: relative;right: 25%">
						<img src="../../../img/images.jpg" ng-if="!particular_image" alt="">
					</div>
					<div style="padding:15px 42px 15px 42px;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
						<button button class="btn btn-default bg-red"  ngf-select ng-model="new_essential.image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">UPLOAD PICTURE</button>
						<p class="text-center text-muted" ng-if="!new_essential.image.name">Maximum 20MB</p>
            			<p class="text-center" ng-if="new_essential.image.name">{{new_essential.image.name}}</p>

					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Product Name</div>
							<div class="row">
								<div class="col-md-10">
									<input type="text" name="name" class="simple-input" placeholder="Product Name" ng-model="new_essential.name" required>
			                        <p ng-show="createEssential.submitted && createEssential.name.$invalid" class="help-block error_show">
			                        	Product name is required.
			                        </p>
								</div>							
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Price</div>
							<div class="row">
								<div class="col-md-10">
									<input type="text" name="price" class="simple-input" placeholder="Product Price (in Rs)" ng-model="new_essential.price" required>
	                            	<p ng-show="createEssential.submitted && createEssential.price.$invalid" class="help-block error_show">			Product price is required.
		                            </p>
								</div>							
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Product Link</div>
							<div>
		                		<input type="text" name="affiliate_link" class="simple-input" placeholder="Product Link" ng-model="new_essential.affiliate_link" required>
			                    <p ng-show="createEssential.submitted && createEssential.affiliate_link.$invalid" class="help-block error_show">
			                    	Product link is required.
			                    </p>
		                	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Label</div>
							<div>
								<div class="radiobuttons">
									<label>
										<input type="radio" name="label" ng-model="new_essential.label" value="both" ng-required="!new_essential.label">
										<span>Both</span>
									</label>
									<label>
										<input type="radio" name="label" ng-model="new_essential.label" value="male" ng-required="!new_essential.label">
										<span>Male</span>
									</label>
									<label>
										<input type="radio" name="label" ng-model="new_essential.label" value="female" ng-required="!new_essential.label">
										<span>Female</span>
									</label>
								</div>
								<p ng-show="createEssential.submitted && createEssential.label.$invalid" class="help-block error_show">
									Please select the label
		                        </p>
							</div>
						</div>
					</div>
					<div class="row">
					    <div class="col-lg-12 text-right ">
					    	<button type="submit"  class="btn">
					    		<a href="/schooladmin/main/essentials/">Cancel</a>
					        </button>
					        <button type="submit" class="btn" value="Create" style="color: red;">
					        	Create Essential
					        </button>
					    </div>
					</div>
				</div>
			</div>
    	</form>
    </div>
</div>





