<div class="pageContent extended" data-ng-init="edit_essential_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/edit-essential/{{particular_essential.id}}/">	
                	{{particular_essential.name}}
                </a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/essentials/">Essentials</a></li>
                <li class="active">{{particular_essential.name}}</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="myForm" autocomplete="off" novalidate>
    		<div class="row">
				<div class="col-md-4">
					<div style="width: 220px;overflow: hidden;">
						<img ngf-thumbnail="particular_essential.image" style="width:100%;">
					</div>
					<div style="padding:15px 42px 15px 42px;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
						<button class="button btn bg-red" ngf-select ng-model="particular_image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" style="width: 100%;">Change Image</button>
						
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="basicInput" class="profile-label">Product Name</label>
								<span  class="label-detail" ng-if="!edit_state">{{particular_essential.name}}</span>
								<input ng-if="edit_state" type="text" name="name" class="simple-input" placeholder="Product Name" ng-model="particular_essential.name" required>
	                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block">
	                            	Product name is required
	                            </p>
							</div>
						</div>
						<div class="col-md-4 form-group">
							<div ng-if="!edit_state">
								<button class="btn btn-primary bg-red" style="float: right;position: relative;top: -5px;" ng-click="trigger_edit()" ng-show="particular_essential.owner_type_string=='school'">Edit Essential Info</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="basicInput" class="profile-label">Price</label>
								<span  class="label-detail" ng-if="!edit_state">{{particular_essential.price}}</span>
								<input ng-if="edit_state" type="text" name="name" class="simple-input" placeholder="Product Price" ng-model="particular_essential.price" required>
	                            <p ng-show="myForm.submitted && myForm.price.$invalid" class="help-block">
	                            	Product price is required
	                            </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="basicInput" class="profile-label">Product Link</label>
								<span  class="label-detail" ng-if="!edit_state">{{particular_essential.affiliate_link}}</span>
								<input ng-if="edit_state" type="text" name="link" class="simple-input" placeholder="Product Price" ng-model="particular_essential.affiliate_link" required>
	                            <p ng-show="myForm.submitted && myForm.link.$invalid" class="help-block">
	                            	Product link is required
	                            </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Label</div>
							<div ng-if="edit_state">
								<div class="radiobuttons">
									<div class="radiobuttons">
										<label>
											<input type="radio" ng-model="particular_essential.label" value="both">
											<span>Both</span>
										</label>
										<label>
											<input type="radio" ng-model="particular_essential.label" value="male">
											<span>Male</span>
										</label>
										<label>
											<input type="radio" ng-model="particular_essential.label" value="female">
											<span>Female</span>
										</label>
									</div>
								</div>
								<p ng-show="createEssential.submitted && createEssential.label.$invalid" class="help-block error_show">
									Please select the label
		                        </p>
							</div>
							<div ng-if="!edit_state">{{particular_essential.label}}</div>
						</div>
					</div>
					<div class="row" ng-if="edit_state">
					    <div class="col-lg-12 text-right" style="text-align: right;">
					    	<button type="submit"  class="btn">
					    		<a href ng-click="cancel_edit()">Cancel</a>
					        </button>
					        <button type="submit" class="btn" ng-click="update_essential()" style="color: red;">
					        	Save
					        </button>
					    </div>
					</div>
				</div>
			</div>
    	</form>
	</div>
</div>











