<div class="pageContent extended" data-ng-init="essentials_init()" ui-view >
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/essentials/" >Essentials</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li class="active">Essentials</li>
            </ol>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/create-essential/">
                    <button class="btn btn-default bg-red">
                        Create New Essential
                    </button>
                </a>
            </h1>
        </div>
    </div>
    <div class="box" style="overflow: scroll;">
        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
            <h2 class="boxHeadline">All essentials</h2>
            <h3 class="boxHeadlineSub">{{total_essential_count}} Total</h3>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
            <div class="input-group custom-search-form" ng-controller="SchoolAdminEssentials" >
                <input type="text" class="simple-input" placeholder="Search..." ng-model="search" ng-keyup="$event.keyCode == 13 && search_function()">
                <span class="input-group-btn" ng-click="search_function()" >
                    <button class="btn btn-default btn-addon" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th>S.N.</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Price (INR)</th>
                            <th>Assigned</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr ng-repeat = "essential in array_of_essentials" ng-mouseenter="view=true" ng-mouseleave="view=false">
                            <td>{{(page_count-1)*10 +($index + 1)}}</td>
                            <td ng-click="edit_essential_page(essential.id)"  style="cursor: pointer;" class="onhover">{{essential.name}}</td>
                            <td>{{essential.affiliate_link}}</td>
                            <td>{{essential.price}}</td>
                            <td>{{essential.label}}</td>
                            <td>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <button type="button" class="btn btn-success btn-xs" ng-click="edit_essential_page(essential.id)" ng-show="essential.owner_type_string=='school'">
                                           <div class="view-detail" class="view-detail" ng-if="view==true"  style="cursor: pointer;">View</div>
                                        </button>
                                    </div> -->
                                    <div class="col-md-6" ng-show="essential.owner_type_string=='school'">
                                        <button type="button" data-toggle="modal" data-target="#deleteEssential" class="btn btn-danger btn-xs" ng-click="set_to_delete(essential.id)" >
                                            <i class="fa fa-trash" aria-hidden="true" style="margin: 0px;color: #f34235;" ></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="">
                       <div class="" style="line-height: 40px;">
                            Showing {{((page_count-1)*10)+1}} to 
                            <span ng-if="total_essential_count<10">{{total_essential_count}}</span>
                            <span ng-if="!(total_essential_count<10)">{{((page_count)*10)}}</span>
                             of {{total_essential_count}} essentials.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'call_essentials_list')" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, 'call_essentials_list')" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<2">
                                <a href ><span>{{$index+1}}</span></a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(1, 'call_essentials_list')" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>        
    </div>

</div>

















<div id="deleteEssential" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting the Essential?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ><a>No, do not delete</a></button>
                <button class="btn" data-dismiss="modal" ng-click="delete_essential_page()" style="color: red;">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>