<div class="pageWrap" ui-view data-ng-init = "bulk_upload_init()" >
    <div class="pageContent extended" style="padding: 0;">
       <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/superuser/main/">Students Bulk Upload</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a>SuperUser</a></li>
                    <li class="active">Students Bulk Upload</li>
                </ol>
            </div>
        </div>
        <div id="dash_1" class="box" style="overflow: scroll;">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown" style="margin-bottom: 30px;">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto;font-size: 18px;  color: #363f45;text-transform: capitalize;opacity: 0.7; box-shadow: none;font-weight: 100;text-align: left;padding-right: 30px; border: solid 1px rgba(54, 63, 69, 0.15); background-color: white;overflow: hidden;">
                            <span ng-if="selected_school" style="font-size: 14px;color: #363f45;">
                                {{selected_school.name}} - {{selected_school.address}}
                                <i class="fa fa-chevron-down"></i>
                            </span>
                            <span ng-if="!selected_school" style="font-size: 14px;color: #363f45;">
                                Select School 
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </button>
                        <ul class="dropdown-menu" style="width: 500px !important;">
                            <li style="cursor: pointer;" ng-repeat = "school in schools_list" ng-click="school_selected(school.id)" ng-if="school.is_active"><a>{{school.name}} - {{school.address}}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <panel panel-class="panel-midnightblue" heading="Upload CSV File">
                          <div class="fileUpload btn btn-primary">
                            <span style="font-size:20px;">Select File ( In TSV Format )</span>
                            <input type="file" nv-file-select uploader="uploader" class="upload" /><br/>
                            <ul>
                              <li ng-repeat="item in uploader.queue">
                                Name: <span ng-bind="item.file.name"></span><br/>
                                <button class="btn btn-warning" ng-click="item.upload()">upload</button>
                              </li>
                            </ul>
                          </div>
                    </panel>
                </div> -->
                <form>
                    <div class="col-xs-12 col-md-12">
                        <div class="fileUploadWrap">
                            <input type="file"  nv-file-select uploader="uploader" class="form-control upload">
                            <div class="btn btn-green">Upload Document</div>
                            <div class="info">
                                <span >
                                    TSV format
                                </span>
                            </div>
                        </div>
                        <div class="alert alert-dismissible alert-file-upload" role="alert" ng-repeat="item in uploader.queue">
                            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> -->
                            <span ng-bind="item.file.name">
                                            
                            </span>
                            <button class="btn btn-primary" ng-click="item.upload()" style="margin-left: 30px;">Upload</button>
                            
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>