<div ng-include src="'views/superuser/header.html'"></div>

<div class="pageWrap" ui-view data-ng-init = "dashboard_init()" >
    <div class="pageContent extended" style="padding: 0;">
       <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/teachers/">Dashboard</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a>SuperUser</a></li>
                    <li class="active">Superuser Dashboard</li>
                </ol>
            </div>
        </div>
        <div class="box">
            <div class="statsBar">
                <div class="row">
                    <div class="col-xs-12 col-md-4 i yellow">
                        <a class="c">
                            <h3 class="title">Schools Active</h3>
                            <div class="num">{{api_data.school_active}}</div>
                            <i class="icon zmdi zmdi-check zmdi-hc-fw"></i>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 i pink">
                        <a class="c">
                            <h3 class="title">Schools Inactive</h3>
                            <div class="num">{{api_data.school_inactive}}</div>
                            <i class="icon zmdi zmdi-close zmdi-hc-fw"></i>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 i green">
                        <a class="c">
                            <h3 class="title">Essentials Count</h3>
                            <div class="num">{{api_data.essentials}}</div>
                            <i class="icon zmdi zmdi-shopping-cart zmdi-hc-fw"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



