<header id="header" style="background-color: #ffffff;box-shadow: 2px 0 4px 0 rgba(230, 230, 230, 0.5);
  border: solid 1px #f4f5f9;">
    <div class="logo" style="margin: 0;">
        <a href class="js-nav-toggler" style="font-size: 18px;font-weight: bold;color: #363f45;">
            <i class="icon icon-close"></i>
        </a>
        <a href="/schooladmin/main/" title="Home" class="brand-name" style="font-size: 18px;font-weight: bold;color: #363f45;"><img src="../../images/kidzplus_icon.png" style="height: 40px;margin: 5px;margin-bottom: 7px;">Kidz<span>Plus</span><span class="text-muted">Superuser</span></a>
    </div>

    <div class="pageContent">
        <ul class="topNavigation">
            <li style="width: 400px;text-align: right;">
                <div class="btn-group simpleList list-sm name-school" >
                    <button type="button" class="btn dropdown-toggle name-school" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;font-size: 18px;  color: #363f45;text-transform: capitalize;opacity: 0.7; box-shadow: none;font-weight: 100;text-align: right;"  ng-click="superuser_logout()">
                        <span class="pull-left"><i class="fa fa-sign-out"></i> </span>
                        <span class="pull-left info">LogOut</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</header>

<div class="progressWrap" style="display: none;">
    <!-- <div class="text-right">70%</div> -->
    <div class="progress" style="position: absolute;top:60px;width: 100%;">
        <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="{{width_of_loading}}" aria-valuemin="0" aria-valuemax="100" style="width: {{width_of_loading}}%;">
            <!-- <span class="sr-only">70% Complete</span> -->
        </div>
    </div>
</div>

<aside class="aside" style="opacity: 0.9;background-image: linear-gradient(to bottom, #3993da, #106cb6);background-repeat: no-repeat;background-size: 100% 100%;">
    <nav class="simpleList asideNavigation">
        <ul>
            <li>
                <a ng-class="{'active_sidelink' : ((state_name_navbar=='SuperuserMain'))}" href="/superuser/main/" title="Dashboard">
                    <i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : ((state_name_navbar=='SuperuserSchools') || (state_name_navbar=='SuperuserEditSchool') || (state_name_navbar=='SuperuserCreateSchool'))}" href="/superuser/main/schools/" title="Schools">
                    <i class="fa fa-university zmdi-hc-fw icon" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Schools</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SuperuserEssentials' || state_name_navbar=='SuperuserEditEssential' || state_name_navbar=='SuperuserCreateEssential')}" href="/superuser/main/essentials/" title="Essentials">
                    <i class="fa fa-fw fa-shopping-cart icon" style="color: white !important;" ></i> <span class="hidden-xs hidden-sm">Essentials</span>

                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SuperuserActivityTypes' || state_name_navbar=='SuperuserCreateActivityType' || state_name_navbar=='SuperuserEditActivityType')}" href="/superuser/main/activities/" title="Activities" ng-click="get_teacherdata()">
                    <i class="zmdi zmdi-local-activity zmdi-hc-fw icon"></i>
                    <span class="hidden-xs hidden-sm">Activities</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SuperuserBulkUpload')}" href="/superuser/main/bulk-upload/" title="Bulk Upload">
                    <i class="zmdi zmdi-upload zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Bulk Upload</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>






