<div ui-view >
    <div class="loginContentWrap">
        <div class="container" data-ng-init="superuser_init()">
            <div class="row">
                <div class="hidden-xs col-sm-4 col-md-5 col-lg-6"></div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5" >
                    <div class="rectangle">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><img src="../../images/kidzplus_icon.png" id="logo_" alt="" style="height: 90px;"></div>
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" id="login_company">KidzPlus</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="login_greet">SUPERUSER LOGIN</div>
                        </div>
                        <form role="form" ng-controller = "Home">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12" style="font-size: 18px;font-weight: bold;">
                                        Email
                                    </div>
                                    <div class="col-lg-12">
                                        <input ng-model = "superuser.email" class="simple-input" placeholder="Email" name="email" type="email" autofocus>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" style="font-size: 18px;font-weight: bold;">
                                        Passsword
                                    </div>
                                    <div class="col-lg-12">
                                        <input ng-model = "superuser.password" class="simple-input" placeholder="Password" name="password" type="password" value="">
                                        </p>
                                    </div>
                                </div>
                                <div class="row " style="text-align:right;position: relative;top: -20px;">
                                    <div class="col-xs-4 col-xs-offset-8">
                                        <button class="btn btn-xs bg-red" ng-click="superuser_login()" style="line-height: 20px;font-size: 15px;">LOGIN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>



<div id="redirectBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="modal-title" ng-repeat="message in message_to_show">
                            {{message}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









