<div class="pageContent extended" data-ng-init="create_classroom_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/classrooms/create-classroom/">Create School</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/classrooms/">Schools</a></li>
                <li class="active">Create School</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="myForm" ng-submit="create_school(myForm)" autocomplete="off" novalidate>
			<div class="row">
			  	<div class="col-lg-6">
		            <div class="info-header">
		                School Details
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Name</div>
            			<input type="text" name="name" class="simple-input" id="Name" placeholder="School Name" ng-model="new_school.name" required>
                        <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">School name is required.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Address </div>
            			<input type="text" name="address" class="simple-input" placeholder="School Address" ng-model="new_school.address" required>
                		<p ng-show="myForm.submitted && myForm.address.$invalid" class="help-block error_show">Address is required.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Is active</div>
	            		<div class="radiobuttons">
							<label>
								<input type="radio" name="is_active" ng-model="new_school.is_active" value=1 ng-required="!new_school.is_active">
								<span>Yes</span>
							</label>
							<label>
								<input type="radio" name="is_active" ng-model="new_school.is_active" value=0 ng-required="!new_school.is_active">
								<span>No</span>
							</label>
						</div>
						<p ng-show="myForm.submitted && myForm.is_active.$invalid" class="help-block error_show">Please select the state
                        </p>
		            </div>
			    </div>
			    <div class="col-lg-6">
		            <div class="info-header">
		                Point of Contact 
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Name</div>
            			<input type="text" name="poc_name" class="simple-input" placeholder="Name" ng-model="new_school.poc_name" required>
                        <p ng-show="myForm.submitted && myForm.poc_name.$invalid" class="help-block error_show">POC name is required.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Phone Number  </div>
            			<input type="text" name="poc_mobile" class="simple-input" placeholder="10 digit number" ng-model="new_school.poc_mobile" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="10" required>
                        <p ng-show="myForm.poc_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
                        <p ng-show="myForm.poc_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
                        <p ng-show="myForm.poc_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
                        <p ng-show="myForm.submitted && myForm.poc_mobile.$error.required" ng-if="!myForm.poc_mobile.$error.minlength" class="help-block error_show">
                        10 digit Mobile Number is Required. </p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Email</div>
	            		<input type="email" name="poc_email" class="simple-input" placeholder="yourname@company.com" ng-model="new_school.poc_email" ng-pattern="/^([a-zA-Z0-9_.])+@([a-zA-Z0-9_.])+\.([a-zA-Z])+([a-zA-Z])+/" required>
                        <p ng-show="myForm.submitted && myForm.poc_email.$error.email" class="help-block error_show">Enter a valid email.</p>
                        <p ng-show="myForm.submitted && myForm.poc_email.$error.required" class="help-block error_show">Email address is required</p>
		            </div>
			    </div>
			</div>


			<div class="row">
				<div class="col-lg-6">
		            <div class="info-header">
		                Authorize person Details
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Name</div>
            			<input type="text" name="ap_name" class="simple-input" placeholder="Some Person's Name" ng-model="new_school.admin_first_name" required>
                        <p ng-show="myForm.submitted && myForm.ap_name.$invalid" class="help-block error_show">Name is required.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Address </div>
            			<input type="text" name="address" class="simple-input" placeholder="School Address" ng-model="new_school.address" required>
                		<p ng-show="myForm.submitted && myForm.address.$invalid" class="help-block error_show">Address is required.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Designation</div>
	            		<input type="text" name="ap_designation" class="simple-input" placeholder="Like School Administrator" ng-model="new_school.admin_designation" required>
                        <p ng-show="myForm.submitted && myForm.ap_designation.$invalid" class="help-block error_show">Designation is required.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Email</div>
	            		<input type="email" name="ap_email" class="simple-input" placeholder="yourname@company.com" ng-model="new_school.admin_email" ng-pattern="/^([a-zA-Z0-9_.])+@([a-zA-Z0-9_.])+\.([a-zA-Z])+([a-zA-Z])+/" required>
                        <p ng-show="myForm.submitted && myForm.ap_email.$error.email" class="help-block error_show">Enter a valid email.</p>
                        <p ng-show="myForm.submitted && myForm.ap_email.$error.required" class="help-block error_show">email address is required</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Phone Number</div>
	            		<input type="text" name="ap_mobile" class="simple-input" placeholder="10 digit number" ng-model="new_school.admin_mobile" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="10" required>
                        <p ng-show="myForm.ap_mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
                        <p ng-show="myForm.ap_mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
                        <p ng-show="myForm.ap_mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
                        <p ng-show="myForm.submitted && myForm.ap_mobile.$error.required" ng-if="!myForm.ap_mobile.$error.minlength" class="help-block error_show">
                        10 digit Mobile Number is Required. </p>
		            </div>
			    </div>
			    <div class="col-lg-6">
		            <div class="info-header">
		                Subscription Plan 
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Max. Staff </div>
            			<input ng-model="new_school.staff_limit" class="simple-input" ng-pattern="/^\d+$/" name="staff_limit" placeholder="Only numbers ( Eg- 10 )" required>
                        <p ng-show="myForm.submitted && myForm.staff_limit.$invalid" class="help-block error_show" >Max Staff is required</p>
                        <p ng-show="myForm.staff_limit.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Max. Student </div>
            			<input ng-model="new_school.student_limit" class="simple-input" ng-pattern="/^\d+$/" name="student_limit" placeholder="Only numbers ( Eg- 10 )" required>
                        <p ng-show="myForm.submitted && myForm.student_limit.$invalid" class="help-block error_show" >Max Student is required</p>
                        <p ng-show="myForm.student_limit.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Max. Classrooms</div>
	            		<input ng-model="new_school.class_limit" class="simple-input" ng-pattern="/^\d+$/" name="class_limit" placeholder="Only numbers ( Eg- 10 )" required>
                        <p ng-show="myForm.submitted && myForm.class_limit.$invalid" class="help-block error_show">Weight of load is required</p>
                        <p ng-show="myForm.class_limit.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Pricing </div>
	            		<input ng-model="new_school.pricing" class="simple-input" ng-pattern="/^\d+$/" name="pricing" placeholder="Only numbers ( Eg- 10 )" required>
                        <p ng-show="myForm.submitted && myForm.pricing.$invalid" class="help-block error_show" >Pricing is required</p>
                        <p ng-show="myForm.pricing.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Validity </div>
	            		<p class="input-group">
							<input type="text" class="simple-input" 
								uib-datepicker-popup="{{format}}" 
								ng-model="date_date" 
								is-open="popup1.opened" 
								datepicker-options="dateOptions"
								name="date" 
								ng-required="true" 
								close-text="Close" 
								alt-input-formats="altInputFormats" 
								ng-change="date_change()"
								required>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-addon" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
							<p ng-show="myForm.submitted && myForm.date.$invalid" class="help-block error_show" >Please choose a date</p>
                        </p>
		            </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-6">
		            <div class="info-header">
		                School Map Details
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Latitude </div>
            			<input type="text" name="latitude" class="simple-input" placeholder="Latitude" ng-model="new_school.latitude" required>
                        <p ng-show="myForm.submitted && myForm.latitude.$invalid" class="help-block error_show">Latitude is necessary
                        </p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Longitude</div>
            			<input type="text" name="longitude" class="simple-input" placeholder="Longitude" ng-model="new_school.longitude" required>
                        <p ng-show="myForm.submitted && myForm.longitude.$invalid" class="help-block error_show">Longitude is necessary
                        </p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Radius (In metres)</div>
	            		<input type="text" name="radius" class="simple-input" placeholder="Radius (in metres)" ng-model="new_school.radius" required>
                        <p ng-show="myForm.submitted && myForm.radius.$invalid" class="help-block error_show">Radius is necessary
                        </p>
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">TimeZone </div>
	            		<select class="simple-input" name="timezone" ng-model="new_school.timezone">
                			<option value="">---Please select TimeZone---</option>
							<option ng-repeat="option in countries" value="{{option.timezones[0]}}">{{option.timezones[0]}}</option>
						</select>
		            </div>
			    </div>
			</div>
			<div class="panel-footer">
		       	<div class="row">
				    <div class="col-lg-12 text-right">
				        <input type="submit"  class="btn bg-red" value="Create"/>
				    </div>
				</div>
		    </div>	
		</form>
    </div>
</div>




















