<div class="pageContent extended" data-ng-init="edit_school_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="pageTitle">
                <a href>{{particular_school.name}}</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/superuser/main/">Dashboard</a></li>
                <li><a href="/superuser/main/schools/">Schools</a></li>
                <li class="active">{{particular_school.name}}</li>
            </ol>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
            <h1 class="pageTitle" ng-if="!edit_state">
                <a ng-click="trigger_edit()">
                    <button class="btn btn-primary bg-red">
                        Edit
                    </button>
                </a>
            </h1>
            
        </div>
    </div>
    <div class="box">
    	<form role="form" name="myForm" ng-submit="update_school(myForm)" autocomplete="off" novalidate>
			<div class="row">
			  	<div class="col-lg-6">
		            <div class="info-header">
		                School Details
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Name</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="name" class="simple-input" placeholder="School Name" ng-model="particular_school.name" required>
	                        <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block">Your name is required.
	                        </p>
	            		</div>
	            		<div ng-if="!edit_state" class="info-fill">{{particular_school.name}}</div>            			
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Address </div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="address" class="simple-input" placeholder="School Address" ng-model="particular_school.address" required>
	            		 	<p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block">Your name is required.
	                        </p>
	            		</div>
	            		<div ng-if="!edit_state" class="info-fill">{{particular_school.address}}</div>             			
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Is active</div>
	            		<div ng-if="edit_state">
	            			<div class="radiobuttons">
								<label>
									<input type="radio" ng-model="particular_school.is_active" name="one" value=1>
									<span>Yes</span>
								</label>
								<label>
									<input type="radio" ng-model="particular_school.is_active" name="one" value=0>
									<span>No</span>
								</label>
							</div>
							<p ng-show="myForm.submitted && myForm.is_active.$invalid" class="help-block error_show">Please select the state
	                        </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">
                        	<span ng-if="particular_school.is_active == 1">Yes</span>
                        	<span ng-if="particular_school.is_active == 0">No</span>
                    	</div> 
		            </div>
			    </div>
			    <div class="col-lg-6">
		            <div class="info-header">
		                Point of Contact 
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Name</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="poc_name" class="simple-input" placeholder="POC Name" ng-model="particular_school.poc_name" required>
	                        <p ng-show="myForm.submitted && myForm.poc_name.$invalid" class="help-block">POC name is required.
	                        </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.poc_name}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Phone Number  </div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="poc_mobile" class="simple-input" placeholder="10 digit number" ng-model="particular_school.poc_mobile" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="10" required>
	                        <p ng-show="myForm.poc_mobile.$error.minlength" class="help-block">Mobile number is too short. Only 10 digits are needed.</p>
	                        <p ng-show="myForm.poc_mobile.$error.maxlength" class="help-block">Mobile number is too long. Only 10 digits are needed.</p>
	                        <p ng-show="myForm.poc_mobile.$error.pattern" class="help-block">Only numbers are allowed.</p>
	                        <p ng-show="myForm.submitted && myForm.poc_mobile.$error.required" ng-if="!myForm.poc_mobile.$error.minlength" class="help-block">
	                        10 digit Mobile Number is Required. </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.poc_mobile}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Email</div>
	            		<div ng-if="edit_state">
	            			<input type="email" name="poc_email" class="simple-input" placeholder="yourname@company.com" ng-model="particular_school.poc_email" ng-pattern="/^([a-zA-Z0-9_.])+@([a-zA-Z0-9_.])+\.([a-zA-Z])+([a-zA-Z])+/" required>
	                        <p ng-show="myForm.submitted && myForm.poc_email.$error.email" class="help-block">Enter a valid email.</p>
	                        <p ng-show="myForm.submitted && myForm.poc_email.$error.required" class="help-block">Email address is required</p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.poc_email}}</div> 
		            </div>
			    </div>
			</div>


			<div class="row">
				<div class="col-lg-6">
		            <div class="info-header">
		                Authorize person Details
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Name</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="first_name" class="simple-input" placeholder="School Admin First Name" ng-model="particular_school.admin_first_name" required>
                            <p ng-show="myForm.submitted && myForm.first_name.$invalid" class="help-block">Name is required.
                            </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.admin_first_name}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Designation</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="designation" class="simple-input" placeholder="Designation" ng-model="particular_school.admin_designation" required="">
	                		<p ng-show="myForm.submitted && myForm.designation.$invalid" class="help-block">Designation is required.
	                        </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.admin_designation}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Email</div>
	            		<div ng-if="edit_state">
	            			<input type="email" name="school_admin_email" class="simple-input" placeholder="yourname@company.com" ng-model="particular_school.admin_email" ng-pattern="/^([a-zA-Z0-9_.])+@([a-zA-Z0-9_.])+\.([a-zA-Z])+([a-zA-Z])+/" required>
	                        <p ng-show="myForm.submitted && myForm.school_admin_email.$error.email" class="help-block">Enter a valid email.</p>
	                        <p ng-show="myForm.submitted && myForm.school_admin_email.$error.required" class="help-block">email address is required</p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.admin_email}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Phone Number</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="admin_mobile" class="simple-input" placeholder="10 digit number" ng-model="particular_school.admin_mobile" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="10">
	                		<p ng-show="myForm.admin_mobile.$error.minlength" class="help-block">Mobile number is too short. Only 10 digits are needed.</p>
	                        <p ng-show="myForm.admin_mobile.$error.maxlength" class="help-block">Mobile number is too long. Only 10 digits are needed.</p>
	                        <p ng-show="myForm.admin_mobile.$error.pattern" class="help-block">Only numbers are allowed.</p>
	                        <p ng-show="myForm.submitted && myForm.admin_mobile.$error.required" ng-if="!myForm.poc_mobile.$error.minlength" class="help-block">
	                        10 digit Mobile Number is Required. </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.admin_mobile}}</div> 
		            </div>
			    </div>
			    <div class="col-lg-6">
		            <div class="info-header">
		                Subscription Plan 
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Max. Staff </div>
	            		<div ng-if="edit_state">
	            			<input ng-model="particular_school.staff_limit" class="simple-input" ng-pattern="/^\d+$/" name="staff_limit" placeholder="Only numbers ( Eg- 10 )">
	                        <p ng-show="myForm.submitted && myForm.staff_limit.$invalid" class="help-block error_show" >Max Staff is required</p>
	                        <p ng-show="myForm.staff_limit.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.staff_limit}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Max. Student </div>
	            		<div ng-if="edit_state">
	            			<input ng-model="particular_school.student_limit" class="simple-input" ng-pattern="/^\d+$/" name="student_limit" placeholder="Only numbers ( Eg- 10 )">
	                        <p ng-show="myForm.submitted && myForm.student_limit.$invalid" class="help-block error_show" >Max Student is required</p>
	                        <p ng-show="myForm.student_limit.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.student_limit}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Max. Classrooms</div>
	            		<div ng-if="edit_state">
	            			<input ng-model="particular_school.class_limit" class="simple-input" ng-pattern="/^\d+$/" name="class_limit" placeholder="Only numbers ( Eg- 10 )">
	                        <p ng-show="myForm.submitted && myForm.class_limit.$invalid" class="help-block error_show">Weight of load is required</p>
	                        <p ng-show="myForm.class_limit.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.class_limit}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Pricing </div>
	            		<div ng-if="edit_state">
	            			<input ng-model="particular_school.pricing" class="simple-input" name="pricing" placeholder="Only numbers ( Eg- 10 )">
	                        <p ng-show="myForm.submitted && myForm.pricing.$invalid" class="help-block error_show" >Pricing is required</p>
	                        <p ng-show="myForm.pricing.$error.pattern" class="help-block error_show" >Only numbers are allowed.</p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.pricing}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Validity </div>
	            		<div ng-if="edit_state">
	            			<p class="input-group">
								<input type="text" class="simple-input" 
									uib-datepicker-popup="{{format}}" ng-model="date_date" is-open="popup1.opened" datepicker-options="dateOptions" name="date" 	ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="date_change()" required>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-addon" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
							<p ng-show="myForm.submitted && myForm.date.$invalid" class="help-block error_show" >Please choose a date</p>
	            		</div>	
						<div ng-if="!edit_state" class="info-fill">{{date_date | date:'dd MMMM yyyy'}}</div> 
		            </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-6">
		            <div class="info-header">
		                School Map Details
		            </div>
	            	<div class="form-group col-lg-12"> 
	            		<div class="info-type">Latitude </div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="latitude" class="simple-input" placeholder="Latitude" ng-model="particular_school.latitude" required>
	                        <p ng-show="myForm.submitted && myForm.latitude.$invalid" class="help-block error_show">Latitude is necessary
	                        </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.latitude}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Longitude</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="longitude" class="simple-input" placeholder="Longitude" ng-model="particular_school.longitude" required>
	                        <p ng-show="myForm.submitted && myForm.longitude.$invalid" class="help-block error_show">Longitude is necessary
	                        </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.longitude}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">Radius (In metres)</div>
	            		<div ng-if="edit_state">
	            			<input type="text" name="radius" class="simple-input" placeholder="Radius (in metres)" ng-model="particular_school.radius" required>
	                        <p ng-show="myForm.submitted && myForm.radius.$invalid" class="help-block error_show">Radius is necessary
	                        </p>
	            		</div>
                        <div ng-if="!edit_state" class="info-fill">{{particular_school.radius}}</div> 
		            </div>
		            <div class="form-group col-lg-12"> 
	            		<div class="info-type">TimeZone </div>
	            		<div ng-if="edit_state">
	            			<select class="simple-input" name="timezone" ng-model="particular_school.timezone">
	                			<option value="">---Please select TimeZone---</option>
								<option ng-repeat="option in countries" value="{{option.timezones[0]}}">{{option.timezones[0]}}</option>
							</select>
	            		</div>
						<div ng-if="!edit_state" class="info-fill">{{particular_school.timezone | date:'dd MMMM yyyy'}}</div> 
		            </div>
			    </div>
			</div>
			<div class="panel-footer">
		       	<div class="row">
				    <div class="col-lg-12 text-right" ng-if="edit_state">
				    <button class="btn btn-default" ng-click="cancel_edit()"><a>Cancel</a></button>
				        <input type="submit" class="btn bg-red " value="Save" ng-click="cancel_edit()">
				    </div>
				</div>
		    </div>	
		</form>
    </div>	
</div>


