<div class="pageWrap" ui-view data-ng-init = "schools_init()" >
    <div class="pageContent extended" style="padding: 0;">
       <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/teachers/">Dashboard</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a>SuperUser</a></li>
                    <li class="active">Schools</li>
                </ol>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                <h1 class="pageTitle">
                    <a href="/superuser/main/schools/create-school/">
                        <button class="btn btn-default bg-red">
                            Create New School
                        </button>
                    </a>
                </h1>
            </div>
        </div>
        <div class="box" style="overflow: scroll;">
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
                <h2 class="boxHeadline">All Schools</h2>
                <h3 class="boxHeadlineSub">{{school_number}} Total</h3>
            </div>
            <div class="dropdown col-xs-4 col-sm-4  col-md-4 col-lg-4 text-left"">
                <button class="btn bg-red dropdown-toggle" type="button" data-toggle="dropdown" style="font-size: 18px;color: #363f45;opacity: 0.7;box-shadow: none;font-weight: 100; border: solid 1px rgba(54, 63, 69, 0.15); background-color: white;">
                    <span ng-if="!is_active" style="font-size: 14px;color: #363f45;">
                        Inactive
                        <span class="caret"></span>
                    </span>
                    <span ng-if="is_active" style="font-size: 14px;color: #363f45;">
                        Active
                        <span class="caret"></span>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="change_is_active(1)"><a href>Active</a></li>
                    <li ng-click="change_is_active(0)"><a href>Inactive</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <div class="input-group custom-search-form" ng-controller="SuperuserSchools">
                    <input type="text" class="simple-input" placeholder="Search..." ng-model="search" ng-keyup="$event.keyCode == 13 && search_function()" style="margin-top: 0;">
                    <span class="input-group-btn" ng-click="search_function()">
                        <button class="btn btn-default btn-addon" type="button" style="top: -15px;">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <th>S.N.</th>
                                <th>School Name</th>
                                <th>Validity</th>
                                <th>Sales Person</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr ng-repeat = "school in array_of_schools">
                                <td>{{(page_count-1)*10 +($index + 1)}}</td>
                                <td class="onhover" ng-click="edit_school_page(school.id)">{{school.name}}</td>
                                <td>{{school.validity | date:'dd MMMM yyyy'}}</td>
                                <td>Name : {{school.poc_name}}<br>Email : {{school.poc_email}}<br>Mobile : {{school.poc_mobile}}<br>Admin Email: {{school.admin_email}} <br></td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm"   ng-click="open_send_modal(school.admin_email)" data-toggle="modal"><i class="fa fa-commenting" aria-hidden="true"></i></button>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="text-left col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div class="" style="line-height: 40px;">
                        Showing {{((page_count-1)*10)+1}} to 
                        <span ng-if="(school_number<(page_count*10))">{{school_number}}</span>
                        <span ng-if="(school_number>(page_count*10))">{{((page_count)*10)}}</span>
                         of {{school_number}} schools.
                    </div>
                </div>

                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'students_list')" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
                                <a href>
                                    <span>{{$index+1}}</span>
                                </a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(1, 'classrooms_list')" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sendMessage" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-box"  style="height: 500px;" >
            <div class="modal-heading">
                Send Message To School
            </div>
            <div class="modal-subheading">
                <form role="form" name="myForm" id="myForm" ng-submit="send_message(myForm)" autocomplete="off" novalidate>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="error_show">
                            {{error_message}}
                            </div>

                            <div class="info-type">
                                Email 
                            </div>
                            <div class="form-group"> 
                                <input type="text" name="email" class="simple-input" ng-model="message.email" disabled>
                            </div>
                            <div class="info-type">
                                Message 
                            </div>
                            <div class="form-group"> 
                                <textarea type="text" name="message" class="simple-input" placeholder="Message" ng-model="message.message" style="height: 100px;"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p style="color: #10a54a;font-weight: 700;margin: 0;font-size: 21px;position: relative;top: 4px;">
                                        {{message_to_show}} 
                                    </p>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <button class="btn" data-dismiss="modal"><a>Cancel</a></button>
                                    <button class="btn bg-red" id="sendbtn" type="submit">Send</button> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>