
<div class="loginContentWrap">
    <div class="container" data-ng-init="change_password_init()">
        <div  ng-if="link_valid" class="text-center box" style="margin-left: auto;margin-right: auto;width: 400px;position: relative;top: 100px;">
            <img src="../../images/kidzplus_icon.png" style="height: 100px;">
            <h2 class="text-center">Reset Password</h2>
            <p>Please Enter Your New KidzPlus Password</p>
            <form class="form" id="myForm" ng-submit="change_password()" ng-controller="SchoolAdminForgotPassword" >
                <fieldset>
                    <div class="control-group">
                        <!-- <label for="current_password" class="control-label"></label> -->
                        <div class="controls">
                            <input type="hidden" name="code" ng-model="code" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="new_password" class="control-label">New Password</label>
                        <div class="controls">
                            <input type="password" class="simple-input" name="new_password" ng-model="new_password" required style="margin-bottom: 10px;" placeholder="New Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="confirm_password" class="control-label">Confirm Password</label>
                        <div class="controls">
                            <input type="password" class="simple-input" name="confirm_password" ng-model="confirm_password" required style="margin-bottom: 10px;" placeholder="Re-Type New Password">
                        </div>
                    </div>       
                </fieldset>
                <input class="btn bg-red" value="Reset Password" type="submit" style="font-size: 14px;">
            </form>
        </div>
        <div ng-if="!link_valid">
            The Link has Expired
        </div>
    </div>
</div>

<div id="redirectBox" class="modal fade" role="dialog" ng-controller="Home">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <h4 class="modal-title" ng-repeat="message in message_to_show">
                    {{message}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

