<div ng-include src="'views/schooladmin/header.html'"></div>

<div class="pageWrap" ui-view data-ng-init = "dashboard_init()" >
    <div class="pageContent extended" style="padding: 0;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/schooladmin/main/teachers/">Dashboard</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/schooladmin/main/school-profile/">{{school_name}}</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                <h1 class="pageTitle" style="margin-right: 0px;">
                    <span style="color: #363f45;font-size: 14px;opacity: 0.7;position: relative;left: -25px;top:2px;font-weight:100;text-transform: capitalize;">
                        Select Classroom: 
                    </span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;font-size: 18px;  color: #363f45;text-transform: capitalize;opacity: 0.7; box-shadow: none;font-weight: 100;text-align: right;padding-right: 30px; border: solid 1px rgba(54, 63, 69, 0.15); background-color: white;">
                            <span ng-if="selected_class==null" style="font-size: 14px;color: #363f45;">
                                All Classrooms 
                                <i class="fa fa-chevron-down"></i>
                            </span>
                            <span ng-if="selected_class" style="font-size: 14px;color: #363f45;">
                                {{selected_class.name}} 
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="select_class(null)"><a href>All Classrooms</a></li>
                            <li ng-repeat="classroom in array_of_classes" ng-click="select_class(classroom)"><a href> {{classroom.name}}</a></li>
                        </ul>
                    </div>
                </h1>
            </div>
        </div>

        <div _="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="height: 100%;">
                <div class="box no-padding">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">PENDING ACTIVITIES</a></li>
                                <li role="presentation"><a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">TODAY'S MESSAGES</a></li>
                            </ul>

                            <div class="tab-content" id="dash_1" style=" overflow-y: scroll;overflow-x: hidden;">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab-item-1">
                                    <div ng-if="dashboard_activities.length == 0" class="no-data-error text-center">No Pending Activities.</div>
                                    <div class="panel" ng-repeat="activity in dashboard_activities">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 no-padding" style="text-align: center;height: 30px;width: 30px;overflow: hidden;border-radius: 50%;position: relative;right: 4px;">
                                                    <img src="{{activity.image}}" class="acti-img" alt="">
                                                </div>
                                                <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-11 acti-name">{{activity.name}}</div>
                                            </div>
                                        </div>
                                        <div class="panel-body-dash" id="dashboard_acti" ng-repeat="activity in activity.activities">
                                            <div class="row" style="padding-bottom: 10px;border-bottom: solid 1px rgba(54, 63, 69, 0.15);">
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                    <div >
                                                        <div class="acti_header">
                                                            {{activity.item_content}}
                                                        </div>
                                                        <div class="acti_details text-muted">
                                                            {{activity.teacher_name}} - {{ activity.time_portal | date:'dd-MM-yyyy'}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                    <div class="row options">
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                            <a href data-toggle="modal" data-target="#approveFinal" ng-click="set_for_approval(activity.id)" title="Approve">
                                                                <img src="../../images/group-17.svg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                            <a href data-toggle="modal" data-target="#editFeed" ng-click=set_feed(activity) title="Edit">
                                                                <img src="../../images/group-23.svg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                            <a href data-toggle="modal" data-target="#deleteFeed" ng-click="set_to_delete(activity.id)" title="Discard">
                                                                <img src="../../images/group-23-copy.svg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>








                                <div role="tabpanel" class="tab-pane fade" id="tab-item-2">
                                    <div ng-if="dashboard_messages.length == 0" class="no-data-error text-center">
                                        No messages for this classroom
                                    </div>
                                    <div class="panel" ng-repeat="message in dashboard_messages ">
                                        <div>
                                            <div class="dashboard_message_class" style="margin-bottom: 0 !important;">
                                                {{message.class_name}}
                                            </div>
                                        </div>
                                        <div class="dash-message-body" ng-repeat="x in message.messages">
                                            <div class="row">
                                                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                                    <div style="height: 30px;width: 30px;overflow: hidden;border-radius: 50%;position: relative;top: -4px;right: -4px;">
                                                        <img style="height: 30px;position: relative;right: 25%;" src="{{x.student.profile_image}}" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="font-size: 14px;font-weight: bold;color: #363f45;">{{x.student.name}}</div>
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5" style="font-size: 14px;opacity:0.7;color: #363f45;text-align: right;">{{x.message_type}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7" style="font-size: 12px;opacity: 0.9;color: #363f45;">{{x.message_content}}</div>
                                                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5" style="opacity: 0.7; font-size: 12px;color: #363f45;text-align: right;">{{x.time | date: 'dd MMM yyyy'}}-{{x.time | date: 'HH:MM'}}</div>
                                            </div>
                                            <div ng-if="x.message_type == 'New Person Pickup'"><img src="{{x.else_pickup_image}}" style="height: 250px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="card"> 
                    <div class="card_header">
                        CHECK-IN | CHECK-OUT RECORD
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card_num">{{checked_in_count}}</div>
                            <div class="card_status">Checked IN</div>
                        </div>
                        <div class="col-md-6">
                            <div class="card_num">{{checked_out_count}}</div>
                            <div class="card_status">Checked OUT</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="box no-padding no-margin" id="dash_2" style="overflow-y: scroll; overflow-x: hidden;">
                    <div style="margin:0;" class="upcoming_head" >Upcoming Events</div>
                    <div ng-if="dashboard_events.length == 0" class="no-data-error text-center">No upcoming events for this classroom</div>
                    <div ng-repeat= "event in dashboard_events" class="event-class">
                        <div class="event_post_heading">
                            {{event.class_name}}
                        </div>
                        <div ng-repeat="event in event.events" style="border-bottom: solid 1px rgba(54, 63, 69, 0.15);padding-bottom: 5px;">
                            <div class="event_post_body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="event-name">{{event.name}}<br></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="event-timestamp"  style="text-align: left;">
                                            {{event.date_string | date: 'dd-MM-yy'}}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="event-timestamp">
                                            {{event.start_time}} to {{event.end_time}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>












<div id="approveFinal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Approval
            </div>
            <div class="modal-subheading">
                Are you sure you want to Approve the activity?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ng-click="approve_activity(0)"><a>No, do not approve</a></button>
                <button class="btn" data-dismiss="modal" ng-click="approve_activity(1)" style="color: red;">Yes, approve</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteFeed" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Discard
            </div>
            <div class="modal-subheading">
                Are you sure you want to discard the activity?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ng-click="approve_activity(0)"><a>No, do not discard</a></button>
                <button class="btn" data-dismiss="modal" ng-click="delete_feed()" style="color: red;">Yes, discard</button>
            </div>
        </div>
    </div>
</div>


<div id="editFeed" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-2 no-padding" style="height: 72px; width: 72px; overflow: hidden;border-radius: 50%;">
                        <img src="{{particular_feed.activity_image}}" style="height: 72px;">
                    </div>
                    <div class="col-md-10">
                        <div style="font-size: 28px;font-weight: bold;color: #363f45;">{{particular_feed.activity_header}}
                        </div>
                        <div style=" opacity: 0.5;font-size: 14px;font-weight: bold; color: #363f45;text-transform: capitalize;position: relative;top: 5px;">
                            {{particular_feed.teacher_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="overflow: scroll;">
                <div class="form-group">   
                    <b style="font-size: 18px;font-weight: bold;color: #363f45;margin-top: 45px;">
                        Description
                    </b>
                    <input type="text" class="simple-input ng-pristine ng-valid ng-empty ng-touched" ng-model="particular_feed.item_content" value="{{particular_feed.item_content}}">
                </div>
                <div class="form-group">   
                    <b style="font-size: 18px;font-weight: bold;color: #363f45;margin-top: 45px;">Time</b>
                    <div id="datepicker-2" class="input-group date" style="width: 100%;">
                        <div class="input-group">
                            <input type="text" class="simple-input ng-pristine ng-valid ng-empty ng-touched" datetime-picker="MM/dd/yyyy HH:mm" ng-model="particular_feed.time_to_show" is-open="picker3.open">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-addon"  style="display: inherit;" ng-click="openCalendar($event, 'picker3')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="particular_feed.activity_type !='none'">   
                    <b style="font-size: 18px;font-weight: bold;color: #363f45;margin-top: 45px;">Photo</b> 
                    <div>
                        <div ng-if="particular_feed.activity_type=='image'">
                            <img src="{{particular_feed.media}}" style="width:100px;">
                        </div>
                        <div ng-if="particular_feed.activity_type=='video'">
                            <video width="320" height="240" controls>
                              <source src="{{particular_feed.media}}" type="video/mp4">
                              <source src="{{particular_feed.media}}" type="video/ogg">
                              Your browser does not support the video tag.
                            </video>
                        </div>
                        <div  style="font-size: 12px;overflow: hidden;white-space: nowrap;">
                            Text Only
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <b style="font-size: 18px;font-weight: bold;color: #363f45;margin-top: 45px;">Tagged Students</b>
                    <br><br>
                    <div ng-repeat="student in particular_feed.students">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                     <div style="height: 100px;width: 100px;overflow: hidden;border-radius: 50%;position: relative;text-align: center;">
                                        <img style="height: 100px;" src="{{student.profile_image}}" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="font-size: 12px;overflow: hidden;white-space: nowrap;">
                                    {{student.name}}
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="modal-footer text-right" style="border-top: 1px solid rgba(54, 63, 69, 0.15);;">
                <button class="btn btn-default" data-dismiss="modal"><a>Cancel</a></button>
                <button type="button" class="btn" data-dismiss="modal" ng-click="edit_feed()" style="color: red;">Save Activity</button>
            </div>
        </div>
    </div>
</div>
