<div class="loginContentWrap">
    <div class="container" ng-controller="SchoolAdminForgotPassword">
        <div class="text-center box" style="margin-left: auto;margin-right: auto;width: 400px;position: relative;top: 100px;">
            <img src="../../images/kidzplus_icon.png" style="height:150px; " alt="">
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <form class="form" id="myForm" ng-submit="send_verification_email()" ng-controller="SchoolAdminForgotPassword">
                <fieldset>
                    <div class="form-group">
                        <input id="emailInput" placeholder="email address" class="simple-input" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="" ng-model="email_verification" style="padding-left:10px;margin-bottom: 10px;">
                    </div>
                    <div class="form-group" >
                        <input class="btn bg-red" value="Send Me A Verification Link" type="submit" style="margin: 0; font-size: 14px;">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="redirectBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div>
                  <h4 class="modal-title" ng-repeat="message in message_to_show">
                  {{message}}
                  </h4>
              </div>
          </div>
      </div>
  </div>
</div>