<header id="header" style="background-color: #ffffff;box-shadow: 2px 0 4px 0 rgba(230, 230, 230, 0.5);
  border: solid 1px #f4f5f9;">
    <div class="logo" style="margin: 0;">
        <a href class="js-nav-toggler" style="font-size: 18px;font-weight: bold;color: #363f45;">
            <i class="icon icon-close"></i>
        </a>
        <a href="/schooladmin/main/" title="Home" class="brand-name" style="font-size: 18px;font-weight: bold;color: #363f45;"><img src="../../images/kidzplus_icon.png" style="height: 40px;margin: 5px;margin-bottom: 7px;">Kidz<span>Plus</span></a>
    </div>

    <div class="pageContent">
        <ul class="topNavigation">
            <li style="width: 400px;text-align: right;">
                <div class="btn-group simpleList list-sm name-school" style="width: 100%;">
                    <button type="button" class="btn dropdown-toggle name-school" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;font-size: 18px;  color: #363f45;text-transform: capitalize;opacity: 0.7; box-shadow: none;font-weight: 100;text-align: right;">
                        {{school_name}}
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" style="width: 200px;">
                        <li>
                            <a href="/schooladmin/main/school-profile/" class="clearfix" style="color:#9da2a6;">
                                <span class="pull-left" style="color:#9da2a6;"><i class="zmdi zmdi-accounts icon"></i></span>
                                <span class="pull-right info">Profile</span>
                            </a>
                        </li>
                        <li ng-click="schooladmin_logout()">
                            <a href class="clearfix" style="color:#9da2a6;">
                                <span class="pull-left" style="color:#9da2a6;"><i   class="fa fa-sign-out icon"></i></span>
                                <span class="pull-right info">LogOut</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>

<div class="progressWrap" style="display: none;">
    <!-- <div class="text-right">70%</div> -->
    <div class="progress" style="position: absolute;top:60px;width: 100%;">
        <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="{{width_of_loading}}" aria-valuemin="0" aria-valuemax="100" style="width: {{width_of_loading}}%;">
            <!-- <span class="sr-only">70% Complete</span> -->
        </div>
    </div>
</div>

<aside class="aside" style="opacity: 0.9;background-image: linear-gradient(to bottom, #3993da, #106cb6);background-repeat: no-repeat;background-size: 100% 100%;">
    <nav class="simpleList asideNavigation">
        <ul>
            <li>
                <a ng-class="{'active_sidelink' : ((state_name_navbar=='SchoolAdminDashboard'))}" href="/schooladmin/main/" title="Dashboard">
                    <i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : ((state_name_navbar=='SchoolAdminClassrooms') || (state_name_navbar=='SchoolAdminEditClassroom') || (state_name_navbar=='SchoolAdminCreateClassroom'))}" href="/schooladmin/main/classrooms/" title="Classrooms">
                    <i class="fa fa-university zmdi-hc-fw icon" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Classrooms</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SchoolAdminTeachers' || state_name_navbar=='SchoolAdminEditTeacher' || state_name_navbar=='SchoolAdminCreateTeacher')}" href="/schooladmin/main/teachers/" title="Teachers">
                    <i class="zmdi zmdi-book zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Teachers</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SchoolAdminStudents' || state_name_navbar=='SchoolAdminCreateStudent' || state_name_navbar=='SchoolAdminEditStudent')}" href="/schooladmin/main/students/" title="Students" ng-click="get_teacherdata()">
                    <i class="zmdi zmdi-accounts zmdi-hc-fw icon"></i>
                    <span class="hidden-xs hidden-sm">Students</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SchoolAdminEssentials' || state_name_navbar=='SchoolAdminCreateEssential' || state_name_navbar=='SchoolAdminEditEssential')}" href="/schooladmin/main/essentials/" title="Essentials">
                    <i class="fa fa-shopping-basket zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Essentials</span>
                </a>
            </li>
            <li>
                <a ng-class="{'active_sidelink' : (state_name_navbar=='SchoolDateWiseReport' || state_name_navbar=='SchoolIndividualStudentReport' )}" href="/schooladmin/main/date-wise-report/" title="Attendance">
                    <i class="zmdi zmdi-calendar zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Attendance</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>






