<div class="pageContent extended" data-ng-init="edit_school_init()">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1 class="pageTitle">
				<a href="/#/schooladmin/main/school-profile/">School Profile</a>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/#/schooladmin/main/">Dashboard</a></li>
				<li class="active">Profile</li>
			</ol>
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<h1 class="pageTitle">
				<button class="btn bg-red" ng-click="reset_password()">Reset password</button>
			</h1>
		</div>
	</div>
	
	<div class="box" style="padding: 20px 30px 20px 30px;">
		<div class="row">
		  	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6"">
		  		<div class="profile_heading">School Details</div>
		  		<div class="form-group">
					<label for="basicInput" class="profile-label">Name</label>
					<span  class="label-detail">{{particular_school.name}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Address</label>
					<span  class="label-detail">{{particular_school.address}}</span>
				</div>
				<div class="form-group">  
					<label for="basicInput" class="profile-label">Is Active</label>
					<div class="radiobuttons">
						<label>
							<input type="radio" ng-model="particular_school.is_active" value=1 disabled>
							<span>Yes</span>
						</label>
						<label>
							<input type="radio" ng-model="particular_school.is_active" value=0 disabled>
							<span>No</span>
						</label>
					</div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
		  		<div class="profile_heading">Point of Contact</div>
		  		<div class="form-group">
					<label for="basicInput" class="profile-label">Name</label>
					<span class="label-detail" class="label-detail">{{particular_school.poc_name}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Phone Number</label>
					<span class="label-detail">{{particular_school.poc_mobile}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Email</label>
					<span class="label-detail">{{particular_school.poc_email}}</span>
				</div>
	        </div>
	    </div>

	    <div class="row">
		  	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
		  		<div class="profile_heading">
		  			Authorize person Details 
	  			</div>
		  		<div class="form-group">
					<label for="basicInput" class="profile-label">Name</label>
					<span>{{particular_school.admin_first_name}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Designation</label>
					<span>{{particular_school.admin_designation}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Phone Number</label>
					<span>{{particular_school.admin_mobile}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Email</label>
					<span>{{particular_school.admin_email}}</span>
				</div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
		  		<div class="profile_heading">
		  			Subscription Plan 
	  			</div>
		  		<div class="form-group">
					<label for="basicInput" class="profile-label">Maximum Staff</label>
					<span>{{particular_school.staff_limit}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Maximum Student</label>
					<span>{{particular_school.student_limit}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Maximum Classrooms</label>
					<span>{{particular_school.class_limit}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Pricing</label>
					<span>{{particular_school.pricing}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Validity</label>
					<span>{{date_date}}</span>
				</div>
	        </div>
	    </div>
	</div>
</div>
