<div class="pageContent extended" data-ng-init="edit_essential_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="pageTitle">
                <a href="/superuser/main/edit-essential/{{particular_essential.id}}/">{{particular_essential.name}}</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/superuser/main/">Dashboard</a></li>
                <li><a href="/superuser/main/essentials/" ng-click="essentials_init()">Essentials</a></li>
                <li class="active">{{particular_essential.name}}</li>
            </ol>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
            <h1 class="pageTitle">
	            <button class="btn btn-default bg-red" ng-click="trigger_edit()" ng-if="!edit_state">
	                Edit
	            </button>
            </h1>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="createEssential" ng-submit="update_essential()" autocomplete="off" novalidate>
    		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div style="height: 220px;width: 220px;overflow: hidden;border: solid 1px rgba(54, 63, 69, 0.15);">
						<img ngf-thumbnail="new_essential.image" style="height:220px;position: relative;right: 25%">
						<img src="../../../img/images.jpg" ng-if="!particular_image" alt="">
					</div>
					<div style="padding-top:15px;text-align: center;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
					<button class="button btn btn-primary" ngf-select ng-model="particular_image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 100, height: 100}">Select</button>
						<p class="text-center text-muted" ng-if="!particular_essential.image.name">Maximum 20MB</p>
            			<p class="text-center" ng-if="particular_essential.image.name">{{particular_essential.image.name}}</p>

					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Product Name</div>
							<div ng-if="edit_state">
								<div class="row">
									<div class="col-md-10">
										<input type="text" name="name" class="simple-input" placeholder="Product Name" ng-model="particular_essential.name" required>
			                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">Product name is required.
			                            </p>
									</div>							
								</div>
							</div>
							<div ng-if="!edit_state" class="info-fill">{{particular_essential.name}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Price</div>
							<div ng-if="edit_state">
								<div class="row">
									<div class="col-md-10">
										<input type="text" name="price" class="simple-input" placeholder="Product Price" ng-model="particular_essential.price" required>
			                            <p ng-show="myForm.submitted && myForm.price.$invalid" class="help-block error_show">Product price is required.
			                            </p>
			                            </p>
									</div>							
								</div>
							</div>
							<div ng-if="!edit_state" class="info-fill">{{particular_essential.price}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Product Link</div>
							<div ng-if="edit_state">
								<input type="text" name="affiliate_link" class="simple-input" placeholder="Product Link" ng-model="particular_essential.affiliate_link" required>
	                            <p ng-show="myForm.submitted && myForm.affiliate_link.$invalid" class="help-block error_show">Product link is required.
	                            </p>
							</div>
							<div ng-if="!edit_state" class="info-fill">{{particular_essential.affiliate_link}}</div>         		
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Label</div>
							<div class="radiobuttons">
								<label>
									<input type="radio" name="label" ng-model="particular_essential.label" value="both" ng-required="!particular_essential.label" ng-disabled="!edit_state">
									<span>Both</span>
								</label>
								<label>
									<input type="radio" name="label" ng-model="particular_essential.label" value="male" ng-required="!particular_essential.label" ng-disabled="!edit_state">
									<span>Male</span>
								</label>
								<label>
									<input type="radio" name="label" ng-model="particular_essential.label" value="female" ng-required="!particular_essential.label" ng-disabled="!edit_state">
									<span>Female</span>
								</label>
								<p ng-show="myForm.submitted && myForm.label.$invalid" class="help-block error_show">Please select the label
	                            </p>
                            </div>
						</div>
					</div>
					<div class="row" ng-if="edit_state">
						<div style="text-align: right;">
							<button class="btn" ng-click="cancel_edit()"><a href="/superuser/main/essentials/" ng-click="essentials_init()">Cancel</a></button>
							<button class="btn" type="submit" style="color: red;" ng-click="update_classroom('null', 'activites')" style="color: red;">Save</button>
						</div>
					</div>
				</div>
			</div>
    	</form>
    </div>
</div>































