<div class="pageWrap pageContent extended" data-ng-init="student_report_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/classrooms/">Attendance</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li class="active">Attendance</li>
            </ol>
        </div>
    </div>
    <div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">Daily</a>
			</li>
			<li role="presentation">
				<a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">Monthly</a>
			</li>
		</ul>
	</div>
	<div>
		
	</div>
	<div class="tab-content  fix-padding-1">
		<div role="tabpanel" class="tab-pane fade in active" id="tab-item-1"> 
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
					<div>Select Date:</div>
					<div id="datepicker-2" class="input-group date" style="width: 86%;">
						<p class="input-group" style="width:100%;">
							<input type="text" class="simple-input" 
								uib-datepicker-popup="{{format1}}" 
								ng-model="from_date" 
								is-open="popup1.opened" 
								datepicker-options="dateOptions1"
								name="date" 
								ng-required="true" 
								close-text="Close" 
								alt-input-formats="altInputFormats" 
								ng-change="from_date_change()"
							 	datepicker-options="options"
								required>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-addon" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
	                    </p>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
					<div class="attendance-details">Report Type:</div>
                    <div>
                        <button type="button" class="btn bg-red dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<span ng-if="!report_type">Report Type<i class="fa fa-chevron-down"></i></span>
                        	<span ng-if="report_type">{{report_type}}<i class="fa fa-chevron-down"></i></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="padding: 8px;cursor: pointer;" ng-click="select_report_segment('daily', 'student')">
								Student
                            </li>
                            <li style="padding: 8px;cursor: pointer;" ng-click="select_report_segment('daily', 'teacher')">
                            	Teacher
                            </li>
                        </ul>
                    </div>
				</div>
		        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"  ng-if="day_file_got">
					<div class="attendance-details">Download Report of {{from_date_to_send}}:</div> 
                    <div > 
				    	<a href="{{day_file_url}}" target="_blank">
				    		<input type="submit"  class="btn bg-green" value="Download File" ng-disabled="!month_file_got" />
				    	</a>
		        	</div>
		        </div>
			</div>
		</div>




















		<div role="tabpanel" class="tab-pane fade" id="tab-item-2"> <!-- second panel -->
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
					<div>Select Month:</div>
					<div id="datepicker-2" class="input-group date" style="width: 70%;">
						<p class="input-group">
							<input type="text" class="simple-input" 
								uib-datepicker-popup="{{format}}" 
								ng-model="to_date" 
								is-open="popup1.opened" 
								datepicker-options="dateOptions"
								name="date" 
								ng-required="true" 
								close-text="Close" 
								alt-input-formats="altInputFormats" 
								ng-change="to_date_change()"
								datepicker-mode="'month'"
								required>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-addon" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
	                    </p>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
					<div class="attendance-details">Report Type:</div>
                    <div>
                        <button type="button" class="btn bg-red dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<span ng-if="!report_type">Report Type<i class="fa fa-chevron-down"></i></span>
                        	<span ng-if="report_type">{{report_type}}<i class="fa fa-chevron-down"></i></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="padding: 8px;cursor: pointer;" ng-click="select_report_segment('monthly', 'student')">
								Student
                            </li>
                            <li style="padding: 8px;cursor: pointer;" ng-click="select_report_segment('monthly', 'teacher')">
                            	Teacher
                            </li>
                        </ul>
                    </div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" ng-if="month_file_got">
					<div class="attendance-details">Download Report for {{month_name}}: </div> 
				    	<a href="{{month_file_url}}" target="_blank">
				    		<input type="submit"  class="btn bg-green" value="Download File"  ng-disabled="!month_file_got" />
				    	</a>
		        	</div>                
				</div>
			</div>
		</div>
    </div>
</div>



