<div class="pageWrap" ui-view data-ng-init = "activity_init()" >
    <div class="pageContent extended" style="padding: 0;">
       <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="pageTitle">
                    <a href="/superuser/main/">Dashboard</a>
                </h1>
                <ol class="breadcrumb">
                    <li><a>SuperUser</a></li>
                    <li class="active">Activities</li>
                </ol>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                <h1 class="pageTitle">
                    <a href="/superuser/main/activities/create-activity-type/">
                        <button class="btn btn-default bg-red">
                            Create New Activity
                        </button>
                    </a>
                </h1>
            </div>
        </div>
        <div class="box" style="overflow: scroll;">
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
                <h2 class="boxHeadline">All Activities</h2>
                <h3 class="boxHeadlineSub">{{activity_count}} Total</h3>
            </div>

            <div class="dropdown col-xs-4 col-sm-4  col-md-4 col-lg-4 text-left"">
                <button class="btn bg-red dropdown-toggle" type="button" data-toggle="dropdown" style="font-size: 18px;color: #363f45;opacity: 0.7;box-shadow: none;font-weight: 100; border: solid 1px rgba(54, 63, 69, 0.15); background-color: white;">
                    <span style="font-size: 14px;color: #363f45;">{{ownership_status}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="change_ownership('all')"><a href>All</a></li>
                    <li ng-click="change_ownership('school')"><a href>School</a></li>
                    <li ng-click="change_ownership('superadmin')"><a href>Superuser</a></li>
                </ul>
            </div>

            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <div class="input-group custom-search-form" ng-controller="SuperuserActivityTypes">
                    <input  type="text" class="simple-input" placeholder="Search..." ng-model="search" ng-keyup="$event.keyCode == 13 && search_function()">
                    <span class="input-group-btn" ng-click="search_function()">
                        <button class="btn btn-default btn-addon" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                             <tr>
                                <th>S.N.</th>
                                <th>Name</th>
                                <th>Diary Entry</th>
                                <th>Created By</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr ng-repeat = "activity_type in array_of_activity_types">
                                <td>{{((page_count-1)*10)+$index+1}}</td>
                                <td ng-click="edit_activity_page(activity_type.id)" class="onhover">{{activity_type.name}}</td>
                                <td>{{activity_type.is_diary_entry}}</td>
                                <td>{{activity_type.creater}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#deleteActivity" >
                                         <i class="fa fa-trash" aria-hidden="true" style="margin: 0px;color: #f34235;" ng-click="set_to_delete(activity_type.id)"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="text-left col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div class="" style="line-height: 40px;">
                        Showing {{((page_count-1)*10)+1}} to 
                        <span ng-if="activity_count<(page_count*10)">{{activity_count}}</span>
                        <span ng-if="activity_count>(page_count*10)">{{((page_count)*10)}}</span>
                         of {{activity_count}} activities.
                    </div>
                </div>

                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'students_list')" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1)" ng-if="$index + 1 - page_count < 2 && page_count-$index-1<2" >
                                <a href >
                                    <span>{{$index+1}}</span>
                                </a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(1, 'classrooms_list')" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="deleteActivity" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting the Essential?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ><a>No, do not delete</a></button>
                <button class="btn" data-dismiss="modal" ng-click="delete_feed(activity_type.id)" style="color: red;">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>
















