<div class="pageContent extended" data-ng-init="create_essential_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/essentials/create-essential/">Create Activity Type</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/superuser/main/">SuperUser</a></li>
                <li><a href="/superuser/main/activities/">Activities</a></li>
                <li class="active">Create New Activity Type</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="myForm" ng-submit="create_activity_type(myForm)" autocomplete="off" novalidate>
    		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div style="height: 220px;width: 220px;overflow: hidden;border: solid 1px rgba(54, 63, 69, 0.15);">
						<img ngf-thumbnail="new_activity_type.image" style="height:220px;position: relative;right: 25%">
						<img src="../../../img/images.jpg" ng-if="!particular_image" alt="">
					</div>
					<div style="padding:15px 42px 15px 42px;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
					<button class="button btn btn-primary" ngf-select ng-model="new_activity_type.image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 100, height: 100}">Select</button>
						<p class="text-center text-muted" ng-if="!new_activity_type.image.name">Maximum 20MB</p>
            			<p class="text-center" ng-if="new_activity_type.image.name">{{new_essential.image.name}}</p>

					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Activity Name</div>
							<div class="row">
								<div class="col-md-10">
									<input type="text" name="name" class="simple-input" placeholder="Activity Type Name" ng-model="new_activity_type.name" required>
		                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">Activity Type name is required
		                            </p>
								</div>							
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Price</div>
							<div class="row">
								<div class="col-md-10">
									<input type="text" name="hint_text" class="simple-input" placeholder="Activity Type Hint Text" ng-model="new_activity_type.hint_text" required>
		                            <p ng-show="myForm.submitted && myForm.hint_text.$invalid" class="help-block error_show">Hint Text is required
		                            </p>
								</div>							
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type"></div>
							<div class="row checkboxes">
								<div class="col-xs-12 col-sm-5 i">
									<label>
										<input type="checkbox" ng-model="new_activity_type.is_diary_entry">
										<span>Diary Entry</span>
									</label>
								</div>
								<div class="col-xs-12 col-sm-5 i">
									<label>
										<input type="checkbox" ng-model="new_activity_type.is_default">
										<span>Is Default</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="info-type">Kind</div>
							<div>
		                		<select ng-model="new_activity_type.kind" class="simple-input" name="kind" required>
									<option value='video'>Video</option>
									<option value='image'>Image</option>
									<option value='none'>None</option>
								</select>
								<p ng-show="myForm.submitted && myForm.kind.$invalid" class="help-block error_show">Please Select the kind
	                            </p>
		                	</div>
						</div>
					</div>
					<div class="row">
					    <div class="col-lg-12 text-right ">
					    	<button type="submit"  class="btn">
					    		<a href="/schooladmin/main/activities/">Cancel</a>
					        </button>
					        <button type="submit" class="btn" value="Submit" style="color: red;">
					        	Create Activity
					        </button>
					    </div>
					</div>
				</div>
			</div>
    	</form>
    </div>
</div>