<div class="pageContent extended" data-ng-init="edit_activity_type_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="pageTitle">
                <a href="/superuser/main/edit-activity-type/{{particular_activity_type.id}}">							{{particular_activity_type.name}}
                </a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/superuser/main/">Dashboard</a></li>
                <li><a href="/superuser/main/activities/" ng-click="activity_init()">Activities</a></li>
                <li class="active">{{particular_activity_type.name}}</li>
            </ol>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
            <h1 class="pageTitle">
	            <button class="btn btn-default bg-red" ng-click="trigger_edit()" ng-if="!edit_state">
	                Edit
	            </button>
	            <button class="btn btn-default bg-red" ng-click="cancel_edit()" ng-if="edit_state">
	                Cancel
	            </button>
            </h1>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="myForm" ng-submit="update_activity_type(myForm)" autocomplete="off" novalidate>
    		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div style="height: 220px;width: 220px;overflow: hidden;border: solid 1px rgba(54, 63, 69, 0.15);">
						<img ngf-thumbnail="particular_activity_type.image" style="height:220px;position: relative;margin-left: auto;margin-right: auto;">
						<img src="../../../img/images.jpg" ng-if="!particular_image" alt="">
					</div>
					<div style="text-align:center;padding-top:10px;border: solid 1px rgba(54, 63, 69, 0.15);width: 220px; ">
					<button class="button btn btn-primary" ngf-select ng-model="particular_activity_type.image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 100, height: 100}">Select</button>
						<p class="text-center text-muted" ng-if="!particular_activity_type.image.name">Maximum 20MB</p>
            			<p class="text-center" ng-if="particular_activity_type.image.name">{{particular_activity_type.image.name}}</p>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Activity Name</div>
							<div ng-if="edit_state">
								<div class="row">
									<div class="col-md-10">
										<input type="text" name="name" class="simple-input" placeholder="Activity Type Name" ng-model="particular_activity_type.name" required>
			                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block">Activity Type name is required.
			                            </p>
									</div>							
								</div>
							</div>
							<div ng-if="!edit_state" class="info-fill">{{particular_activity_type.name}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Hint Text</div>
							<div ng-if="edit_state">
								<div class="row">
									<div class="col-md-10">
										<input type="text" name="hint_text" class="simple-input" placeholder="Activity Type Hint Text" ng-model="particular_activity_type.hint_text" required>
			                            <p ng-show="myForm.submitted && myForm.hint_text.$invalid" class="help-block">Hint Text is required.
			                            </p>
									</div>							
								</div>
							</div>
							<div ng-if="!edit_state" class="info-fill">{{particular_activity_type.hint_text}}</div>
						</div>
					</div>
					<div class="row checkboxes">
						<div >
							<div class="col-xs-12 col-sm-5 i">
								<label>
			                		<input type="checkbox" ng-model="particular_activity_type.is_diary_entry" ng-disabled="!edit_state">
									<span>Diary Entry</span>
								</label>
							</div>
							<div class="col-xs-12 col-sm-5 i">
								<label>
			                		<input type="checkbox" ng-model="particular_activity_type.is_default" ng-disabled="!edit_state">
									<span>Is Default</span>
								</label>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="info-type">Kind</div>
							<div ng-if="edit_state">
								<div>
			                		<select ng-model="particular_activity_type.kind" class="simple-input" required>
										<option value='video'>Video</option>
										<option value='image'>Image</option>
										<option value='none'>Text Only</option>
									</select>
			                	</div>
							</div>
							<div ng-if="!edit_state" class="info-fill">{{particular_activity_type.name}}</div>
						</div>
					</div>
					<div class="row">
					    <div class="col-lg-12 text-right ">
					        <button type="submit" class="btn" value="Submit" style="color: red;" ng-if="edit_state" ng-click="cancel_edit()">
					        	Save
					        </button>
					    </div>
					</div>
				</div>
			</div>
    	</form>
    </div>
</div>