<div class="pageContent extended" data-ng-init="create_teacher_init()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/classrooms/create-teacher/">Create Teacher</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/teachers/">Teachers</a></li>
                <li class="active">Create Teacher</li>
            </ol>
        </div>
    </div>
    <div class="box">
    	<form role="form" name="newTeacher"  class="form-group" autocomplete="off" novalidate>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="info-type">Teacher Name</div>
					<div>		
						<input type="text" name="name" class="simple-input" placeholder="Teacher Name" ng-model="new_teacher.name" required>
                        <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">
                        	Teacher name is required.
                        </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="info-type">Mobile</div>
					<div>
						<input type="text" name="mobile" class="simple-input" placeholder="Mobile Number" ng-model="new_teacher.mobile" ng-minlength="10" ng-maxlength="10" required>
                        <p ng-show="myForm.submitted && myForm.mobile.$invalid" class="help-block error_show">Mobile Number is required.</p>
                        <p ng-show="myForm.mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
                        <p ng-show="myForm.mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
                        <p ng-show="myForm.mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
                        <p ng-show="myForm.submitted && myForm.mobile.$error.required" ng-if="!myForm.mobile.$error.minlength" class="help-block error_show">
                        10 digit Mobile Number is Required. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="info-type">Email</div>
					<div>
						<input type="text" name="email" class="simple-input" placeholder="Teacher Email ID" ng-model="new_teacher.email" ng-pattern="/^([a-zA-Z0-9_.])+@([a-zA-Z0-9_.])+\.([a-zA-Z])+([a-zA-Z])+/">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="info-type">Assign Classrooms</div>
					<div style="font-size: 14px;color: #363f45;font-style: italic; ">Click to select a class from the list to assign to this teacher</div>
					<div>
						<input type="text" id="myClasses" name="classrooms" class="simple-input" placeholder="Assign Classrooms" ng-model="new_teacher.classrooms" required>
                        <p ng-show="myForm.submitted && myForm.classrooms.$invalid" class="help-block error_show">Assign Classrooms
                        </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="info-type">Staff Type</div>
					<div>
						<div class="radiobuttons">
							<label>
								<input type="radio" ng-model="new_teacher.type" name="type" value="unmoderated" ng-required="!new_teacher.type">
								<span>Senior Staff</span>
							</label>
							<label>
								<input type="radio" ng-model="new_teacher.type" name="type" value="moderated" ng-click="activate_tags()">
								<span>Junior Staff</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12"  ng-if="new_teacher.type=='moderated'">
					<div class="info-type">Moderated Activities </div>
					<div>
						<input type="text" name="activities" class="simple-input" placeholder="Moderated Activities" ng-model="new_teacher.moderated_activities"  id="moderatedActivities" >
					</div>
				</div>
			</div>
			<div class="row">
			    <div class="col-lg-12 text-right ">
			    	<button type="submit" class="btn">
			    		<a href="/schooladmin/main/teachers/">Cancel</a>
			        </button>
			        <button type="submit"  class="btn btn-default bg-red" value="Create" ng-click="create_teacher(newTeacher)">
			        	Create
			        </button>
			    </div>
			</div>
		</form>
    </div>
</div>



















<div id="createActivity" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new learning activity</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-lg-12">   
				        <div class="row">
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Activity Name </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="text" name="activity_name" class="form-control" ng-model="new_learning_activity.name">
				                <p></p>
				            </div>

				            <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Is diary Entry </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="checkbox" name="activity_default" ng-model="new_learning_activity.is_diary">
				            </div> -->
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
                <br/>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="create_learning_activity()">Create</button>
            </div>
        </div>
    </div>
</div>