<div class="pageContent extended" data-ng-init="edit_teachers_init()">
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pageTitle">
                <a href="/schooladmin/main/edit-teacher/{{particular_teacher.id}}/">{{particular_teacher.name}}</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/schooladmin/main/">Dashboard</a></li>
                <li><a href="/schooladmin/main/teachers/">Teachers</a></li>
                <li class="active">{{particular_teacher.name}}</li>
            </ol>
        </div>
    </div>

    <div class="">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">Basic Info</a>
			</li>
			<li role="presentation" ng-click="daily_activity_call('teacher', particular_teacher.id)">
				<a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">Daily Activity</a>
			</li>
			<!-- <li role="presentation"  ng-click="upcoming_events_call('teacher', particular_teacher.id)">
				<a href="#tab-item-3" aria-controls="tab-item-3" role="tab" data-toggle="tab">Events</a>
			</li> -->
			<li role="presentation" ng-click="gallery_call('teacher', particular_teacher.id)">
				<a href="#tab-item-4" aria-controls="tab-item-4" role="tab" data-toggle="tab">Gallery</a>
			</li>
		</ul>
	</div>

	<div class="tab-content fix-padding-1">
		<div role="tabpanel" class="tab-pane fade in active" id="tab-item-1"> <!-- first tab -->
			<form role="updateTeacher" autocomplete="off" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="info-type">Name</div>
						<div ng-if="edit_state">		
							<input type="text" name="name" class="simple-input" placeholder="Teacher Name" ng-model="particular_teacher.name" required>
                            <p ng-show="myForm.submitted && myForm.name.$invalid" class="help-block error_show">
                            	Teacher name is required.
                            </p>
						</div>
						<div class="info-fill" ng-if="!edit_state">{{particular_teacher.name}}</div>
					</div>
					<div class="col-md-6 form-group">
						<div ng-if="!edit_state">
							<button class="btn btn-primary bg-red" style="float: right;position: relative;top: -5px;" ng-click="trigger_edit()">Edit Teacher Info</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="info-type">Mobile</div>
						<div ng-if="edit_state">
							<input type="text" name="mobile" class="simple-input" placeholder="Mobile Number" ng-model="particular_teacher.mobile" ng-minlength="10" ng-maxlength="10" required>
                            <p ng-show="myForm.submitted && myForm.mobile.$invalid" class="help-block error_show">Mobile Number is required.</p>
                            <p ng-show="myForm.mobile.$error.minlength" class="help-block error_show">Mobile number is too short. Only 10 digits are needed.</p>
                            <p ng-show="myForm.mobile.$error.maxlength" class="help-block error_show">Mobile number is too long. Only 10 digits are needed.</p>
                            <p ng-show="myForm.mobile.$error.pattern" class="help-block error_show">Only numbers are allowed.</p>
                            <p ng-show="myForm.submitted && myForm.mobile.$error.required" ng-if="!myForm.mobile.$error.minlength" class="help-block error_show">
                            10 digit Mobile Number is Required. </p>
						</div>
						<div class="info-fill" ng-if="!edit_state">{{particular_teacher.mobile}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="info-type">Email</div>
						<div ng-if="edit_state">
							<input type="text" name="email" class="simple-input" placeholder="Teacher Email ID" ng-model="particular_teacher.email" ng-pattern="/^([a-zA-Z0-9_.])+@([a-zA-Z0-9_.])+\.([a-zA-Z])+([a-zA-Z])+/">
						</div>
						<div class="info-fill" ng-if="!edit_state">{{particular_teacher.email}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="info-type">Staff Type</div>
						<div ng-if="edit_state">
							<div class="radiobuttons">
								<label>
									<input type="radio" ng-model="particular_teacher.staff_type" name="type" value="unmoderated" ng-required="!particular_teacher.staff_type">
									<span>Senior Staff</span>
								</label>
								<label>
									<input type="radio" ng-model="particular_teacher.staff_type" name="type" value="moderated" ng-click="create_tags()">
									<span>Junior Staff</span>
								</label>
							</div>
						</div>
						<div class="info-fill" ng-if="!edit_state">{{particular_teacher.staff_type}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="info-type">Assign Classrooms</div>
						<div ng-if="edit_state">
							<input type="text" id="myClasses" name="classrooms" class="simple-input" placeholder="Assign Classrooms" ng-model="particular_teacher.classrooms_form" required>
                            <p ng-show="myForm.submitted && myForm.classrooms.$invalid" class="help-block error_show">Assign Classrooms
                            </p>
						</div>
						<div class="info-fill" ng-if="!edit_state">
							<ul class=tags_list>
								<div ng-repeat = "class in particular_teacher.classes" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 activity-container">{{class.name}}</div>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-if="particular_teacher.staff_type=='moderated'">
						<div class="info-type">Moderated Activities </div>
						<div ng-if="edit_state">
							<input type="text" name="activities" class="simple-input" placeholder="Moderated Activities" ng-model="particular_teacher.moderated_activities_form"  id="moderatedActivities" >
						</div>
						<div class="info-fill" ng-if="!edit_state">
							<ul class=tags_list>
								<div ng-repeat = "activity in particular_teacher.moderated_activities" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 activity-container">{{activity.name}}</div>
							</ul>
						</div>
					</div>
				</div>
				<div class="row" ng-if="edit_state">
					<div style="text-align: right;">
						<button class="btn" ng-click="cancel_edit()"><a href="">Cancel</a></button>
						<button class="btn" type="submit" style="color: red;" ng-click="update_teacher()">Save</button>
					</div>
				</div>
			</form>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="tab-item-2"> <!-- second panel -->
			<div ng-repeat="x in daily_activity_feed.data">
				<div class="activity_date_heading">{{x.date}}</div>
				<div class="activities_for_date">
					<div ng-repeat="feed in x.feeds">
						<div class="row">
							<div class="col-md-2 vertical" style="color: #363f45;font-size: 14px;text-transform: uppercase;position: relative;top: 11px;">
								{{feed.activity_header}}
							</div>
							<div class="col-md-2 no-padding" style="overflow: hidden;text-align: center;height: 48px;width: 48px;border-radius: 50%;">
								<img src="{{feed.activity_image}} " style="height: 48px;">
							</div>
							<div class="col-md-7">
								<div style="stroke-linecap: font-size: 14px;color: #363f45;">{{feed.item_content}}</div>
								<div style="font-size: 12px;font-weight: bold;color: #363f45;">{{feed.teacher_name}}</div>
							</div>
							<div class="col-md-1" style="font-size: 12px; color: #363f45;">
								<div class="col-md-4">
									<a href data-toggle="modal" data-target="#editFeed" ng-click="set_feed(feed, 'teacher', particular_teacher.id)" title="Edit">
										<img src="../../images/group-23.svg" alt="">
									</a>
								</div>

                                <div class="col-md-4">
                                	<a href data-toggle="modal" data-target="#deleteFeed" ng-click="set_to_delete(feed.id, 'teacher', particular_teacher.id)" title="Delete">
                                		<img src="../../images/group-23-copy.svg" alt="">
                            		</a>
                        		</div>
								<div class="col-md-12" style="text-align:right;top: 10px;padding: 0;">{{feed.time}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="daily_activity_feed.data.length != 0">
				<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div class="" style="line-height: 40px;">
                        <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                    </div>
                </div>
				<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'teacher', particular_teacher.id)" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'teacher', particular_teacher.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
                                <a href>
                                	<span>
                                		{{$index+1}}
                                	</span>
                        		</a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'teacher', particular_teacher.id)" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div ng-if="daily_activity_feed.data.length == 0">
            	No activity available for this teacher
        	</div>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="tab-item-4"> <!-- tab 4 -->
			<div ng-if="corresponding_gallery.length == 0">
				<div class="row" style="padding:20px 20px 0 0">
					No Photos available for this teacher
				</div>
			</div>
			<div class="row galleryListing clearfix js-gallery-grid" id="grid">
				<a href class="i col-md-4 col-23" ng-repeat="photo in corresponding_gallery">
					<div class="c">
						<img src="{{photo.media}}">
					</div>
				</a>
			</div>
			<div class="row" ng-if="corresponding_gallery.data.length != 0">
				<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div class="" style="line-height: 40px;">
                        <span>Showing Page {{page_count}} of {{max_number_of_pages}}</span>
                    </div>
                </div>
				<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
	                <nav class="paginationNav">
	                    <ul class="pagination" style="margin: 0;">
	                        <li>
	                            <a href aria-label="Previous" ng-click="pagination_count_update(segment_function_to_call, -1, 'student', particular_student.id)" ng-disabled="disable_prev">
	                                <i class="fa fa-angle-left"></i>
	                            </a>
	                        </li>
	                        <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, segment_function_to_call, 'student', particular_student.id)" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
	                            <a href>
	                            	<span>
	                            		{{$index+1}}
	                            	</span>
	                    		</a>
	                        </li>
	                        <li>
	                            <a href aria-label="Next" ng-click="pagination_count_update(segment_function_to_call, 1, 'student', particular_student.id)" ng-disabled="disable_next">
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	            </div>
	        </div>
		</div>
    </div>
</div>





<div id="createActivity" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new learning activity</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-lg-12">   
				        <div class="row">
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <b>Activity Name </b>
				            </div>
				            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				                <input type="text" name="activity_name" class="form-control" ng-model="new_learning_activity.name">
				                <p></p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
                <br/>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="create_learning_activity()">Create</button>
            </div>
        </div>
    </div>
</div>