<div class="pageContent extended" data-ng-init="teachers_init()" ui-view>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1 class="pageTitle">
				<a href="/schooladmin/main/teachers/">Teachers</a>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/schooladmin/main/">Dashboard</a></li>
				<li class="active">Teachers</li>
			</ol>
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<h1 class="pageTitle">
				<a href="/schooladmin/main/create-teacher/">
					<button class="btn btn-default bg-red">
						Create New Teacher
					</button>
				</a>
			</h1>
		</div>
	</div>
	<div class="box" style="overflow: scroll;">
		<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
			<h2 class="boxHeadline">All Teachers</h2>
			<h3 class="boxHeadlineSub">{{total_teacher_count}} Total</h3>
		</div>
		<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
			<div class="input-group custom-search-form" >
			<input type="text" class="simple-input" placeholder="Search..." ng-model="teachers_data" >
                <span class="input-group-btn">
					<button class="btn btn-default btn-addon" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="table-responsive">
				<table class="table">
					<thead class="table-head">
						<tr>
							<th>S.N.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Classes Assigned</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="table-body">
						<tr ng-repeat = "teacher in array_of_teachers | filter:teachers_data" ng-mouseenter="view=true" ng-mouseleave="view=false">
							<td>{{(page_count-1)*10 +($index + 1)}}</td>
							<td ng-click="edit_teachers_page(teacher.id)"  style="cursor: pointer;" class="onhover">{{teacher.name}}</td>
							<td>{{teacher.email}}</td>
							<td>{{teacher.mobile}}</td>
							<td>
								<div ng-repeat = "class in teacher.classes">
									{{class.name}}
								</div>
							</td>
							<td>
								<div class="row">
									<!-- <div class="col-md-6">
										<button type="button" class="btn btn-success btn-xs" ng-click="edit_teachers_page(teacher.id)" >
											<div class="view-detail" ng-if="view==true"  style="cursor: pointer;">View</div>
										</button>
									</div> -->
									<div class="col-md-6">
										<button type="button" data-toggle="modal" data-target="#deleteTeacher" class="btn btn-danger btn-xs" ng-click="set_to_delete(teacher.id)">
											<i class="fa fa-trash" aria-hidden="true" style="margin: 0px;color: #f34235;"></i>
										</button>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="deleteTeacher" class="modal fade" role="dialog">
	<div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting the Teacher?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ><a>No, do not delete</a></button>
                <button class="btn" data-dismiss="modal" ng-click="delete_teacher_page()" style="color: red;">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>